- content_for :title do
	blog
- content_for :bodyClass do
	blog single-blog-post remove-class

.blog-post

	%img.leading-image{:style=>"background-image: url(/images/AGRI_110YRS_IMAGES5.jpg)"}
	%h1 A Sunnier Outlook for Agriculture
	.metadata
		October 21, 1999
		|
		%a{:href=>"author"} Samuel Hobson
		|
		%a{:href=>""} Agribusiness

	%h2 Sam Hobson talks about how the sun rises on crops and how this makes them happy
	.series
		%h3 This post is part of a series
		|
		%a{:href=>"blog-post"} Part 1
		|
		%a{:href=>"blog-post"} Part 2
		|
		%a{:href=>"blog-post"} Part 3
		|
		%a{:href=>"blog-post"} Part 4
	.social-share
		%span Share Via
		.icon-twitter-sign.icon
		.icon-facebook-sign.icon



	%hr
	%p In recent weeks, all signs point to a wealth of new opportunities becoming available to agribusiness. Along with full moisture profiles, full dams and excellent pasture growth have combined for exceptional production. In addition, strong commodity prices are resulting in increased confidence to the agricultural sector.

	%p Overall, the global economy appears to be back on the road to recovery, despite recent impacts on global financial markets from earthquakes, tsunamis and the ongoing civil unrest in the Middle East.

	%p
		Worldwide demand for
		%a Australian minerals
		, particularly from China, means our economy remains one of the strongest in the world.

	%p Domestically, the business outlook shows signs of improving confidence and conditions.

	%p Recent commentary from the Reserve Bank of Australia highlighted confidence in the global economy, with many forecasting an official cash rate rise before the year is out – potentially good news for investment accounts.

	%p All in all, the outlook for agribusiness is the sunniest it’s been for some time.

	%p In recent weeks, all signs point to a wealth of new opportunities becoming available to agribusiness. Along with full moisture profiles, full dams and excellent pasture growth have combined for exceptional production. In addition, strong commodity prices are resulting in increased confidence to the agricultural sector.

	%p Overall, the global economy appears to be back on the road to recovery, despite recent impacts on global financial markets from earthquakes, tsunamis and the ongoing civil unrest in the Middle East.

	%p
		Worldwide demand for
		%a Australian minerals,
		particularly from China, means our economy remains one of the strongest in the world.

	%p Domestically, the business outlook shows signs of improving confidence and conditions.

	%p Recent commentary from the Reserve Bank of Australia highlighted confidence in the global economy, with many forecasting an official cash rate rise before the year is out – potentially good news for investment accounts.

	%p All in all, the outlook for agribusiness is the sunniest it’s been for some time.
	%hr
	.tags
		%span banking
		%span money
		%span agriculture
.blog-comments


