- content_for :title do
	blog
- content_for :bodyClass do
	blog author

.author-details
	.author-image 
	.author-title
		%h2 Samuel Hobson
		%h3 Duke of Middle Earth, Bloggista, and Critic of 1920s Flim Noir
	.social-share
		.icon-twitter-sign.icon
		.icon-facebook-sign.icon
		.icon-google-plus-sign.icon
		.icon-tumblr-sign.icon

.author-content
	.author-profile
		%h1 About the Author
		%p lorem ipsum dolor sit amet Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
		%p Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.
		%p Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.
		%p Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.
		%p Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.
		%p Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.
.posts
	.posts-title
		%h2 Sam's recent blog posts
.posts	
	.recent-posts
		.mobile-posts
			%h3 Sandwiches on the Beach
			%p October 3, 2013
			%p lorem ipsum dolor sit amet Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
			%p Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.
			%a.leading-link{:href=>"/blog/blog-post"} Read More
	
	.recent-posts
		.mobile-posts
			%h3 Investing in the Sydney Opera Movement
			%p October 3, 2013
			%p lorem ipsum dolor sit amet Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
			%p Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.
			%p Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.
			%a.leading-link{:href=>"/blog/blog-post"} Read More
	.recent-posts
		.mobile-posts
			%h3 From Paris to Berlin
			%p October 3, 2013
			%p lorem ipsum dolor sit amet Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
			%p Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.
			%p Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.
			%a.leading-link{:href=>"/blog/blog-post"} Read More