- content_for :title do
	blog
- content_for :bodyClass do
	blog

%h1 All Blog Posts
.blog-posts

	.blog-post

		%img.leading-image{:style=>"background-image: url('/images/AGRI_110YRS_IMAGES5.jpg')"}
		%h2 
			%a{:href=>"/blog/blog-post"}A SUNNIER OUTLOOK FOR AGRIBUSINESS
		.heightspacer
			.metadata
				October 21, 1999
				|
				%a{:href=>"/blog/author"} Samuel Hobson

			.social-share
				%span Share Via
				.icon-twitter-sign.icon
				.icon-facebook-sign.icon
			-# %hr
		%p
			In recent weeks, all signs point to a wealth of new opportunities becoming available to agribusiness. Along with full moisture profiles, full dams and excellent pasture growth have combined for exceptional production. In addition, strong commodity prices are resulting in increased confidence to the agricultural sector.
			%br

		.heightspacer2
			%a.leading-link{:href=>"/blog/blog-post"} Read More
		-# %hr
		-# .tags
		-# 	%span banking
		-# 	%span money
		-# 	%span agriculture


	.blog-post

		%img.leading-image{:style=>"background-image: url('/images/cat.png')"}
		%h2 
			%a{:href=>"/blog/blog-post"}IT'S RAINING CATS AND DOGS
		.heightspacer
			.metadata
				October 21, 1999
				|
				%a Vivian Chan
			.social-share
				%span Share Via
				.icon-twitter-sign.icon
				.icon-facebook-sign.icon
		%p
			Torrential downpours this week. We've discovered large floods of cats. How do we adopt them all and put tiaras on their cute little heads? These are the questions we ask ourselves daily.
		%p
			In other news no dogs were spotted. Maybe because they we were smart and all left the narrow streets. Large traffic jams were prevelant. Nobody got to work on time and the cats were everywhere!
			%br

		.heightspacer2
			%a.leading-link{:href=>"/blog/blog-post"} Read More
		-# %hr
		-# .tags
			-# %span banking
			-# %span money
			-# %span cats
			-# %span flooding

	.blog-post

		%img.leading-image{:style=>"background-image: url('/images/vacation.png')"}
		%h2 
			%a{:href=>"/blog/blog-post"}HOW TO SAVE FOR A DREAM VACATION
		.hieghtspacer	
			.metadata
				October 21, 1999
				|
				%a Qiu Wang
			.social-share
				%span Share Via
				.icon-twitter-sign.icon
				.icon-facebook-sign.icon
		%p
			Torrential downpours this week. We've discovered large floods of cats. How do we adopt them all and put tiaras on their cute little heads? These are the questions we ask ourselves daily.
		%p
			In other news no dogs were spotted. Maybe because they we were smart and all left the narrow streets. Large traffic jams were prevelant. Nobody got to work on time and the cats were everywhere!
			%br

		.heightspacer2
			%a.leading-link{:href=>"/blog/blog-post"} Read More
		-# %hr
		-# .tags
			-# %span banking
			-# %span money
			-# %span vacation
			-# %span Hawaii

	.blog-post

		%img.leading-image{:style=>"background-image: url('/images/house.png')"}
		%h2 
			%a{:href=>"/blog/blog-post"}WHICH NEIGHBORHOOD IS RIGHT FOR YOU?
		.hieghtspacer
			.metadata
				October 21, 1999
				|
				%a Ruokai Lai
			.social-share
				%span Share Via
				.icon-twitter-sign.icon
				.icon-facebook-sign.icon
		%p
			Torrential downpours this week. We've discovered large floods of cats. How do we adopt them all and put tiaras on their cute little heads? These are the questions we ask ourselves daily.
		%p
			In other news no dogs were spotted. Maybe because they we were smart and all left the narrow streets. Large traffic jams were prevelant. Nobody got to work on time and the cats were everywhere!
			%br

		.heightspacer2
			%a.leading-link{:href=>"/blog/blog-post"} Read More
		-# %hr
		-# .tags
		-# 	%span banking
		-# 	%span money
		-# 	%span housing
		-# 	%span schools
		-# 	%span neighborhoods

.pagination
	%ul
		%li.selected 1
		%li 2
		%li 3
		%li 4
		%li 5
		%li 6
		%li 7
		%li 8
		%li 9
		%li 10

