
- content_for :title do
	blog
- content_for :bodyClass do
	blog

.blog_2
	.half	
		.blog-post
			.picture	
				%img.leading-image{:style=>"background-image: url('/images/house.png')"}
				.postheader
					%h2 
						%a{:href=>"/blog/blog-post"}Property is on the rise
			.textbit
				.othertext
					.metadata
						%h3
							%a{:href=>"/blog/author"} by Samuel Hobson
					.social-share
						-# %span Share Via
						.icon-twitter-sign.icon
						.icon-facebook-sign.icon
				.date
					%b October 21, 1999
				%p
					In recent weeks, all signs point to a wealth of new opportunities becoming available to agribusiness. Along with full moisture profiles, full dams and excellent pasture growth have combined for exceptional production. In addition, strong commodity prices are resulting in increased confidence to the agricultural sector.
					%br
			.linkstrip
				%a.leading-link{:href=>"/blog/blog-post"} more


	
	.quarter1.col3	
		.blog-post
			.picture	
				%img.leading-image{:style=>"background-image: url('/images/mancouch1.jpg')"}
				.postheader
					%h2 
						%a{:href=>"/blog/blog-post"}Investing Simplified: now you can do it on your couch
			.textbit
				.othertext
					.metadata
						%h3
							%a{:href=>"/blog/author"} by Sharlene Tan
					.social-share
						.icon-twitter-sign.icon
						.icon-facebook-sign.icon
				.date
					%b October 21, 1999
				%p
					In recent weeks, all signs point to a wealth of new opportunities becoming available to agribusiness. Along with full moisture profiles...
					%br
			.linkstrip
				%a.leading-link{:href=>"/blog/blog-post"} more



	.quarter2
		.blog-post.socialstuff
			.blogbox
				%h2 share what interests you
				%table
					%tr
						%td
							.icon-twitter-sign.icon 
							%p tweet
						%td
							.icon-facebook-sign.icon 
							%p share
					%tr
						%td
							.icon-rss.icon 
							%p RSS feed
						%td
							.icon-envelope.icon 
							%p mail
		.blog-post.data
			.blogbox
				%h2 people are reading...
				.graph
					.graph1
					.number
						%a.littlenumbers{:href=>"/blog/blog-post"}all about salmon
						.littlestnumbers freakishly long legs
					.bignumber 10,246
				.graph
					.graph2
					.number
						%a.littlenumbers{:href=>"/blog/blog-post"}tasty chicken nuggets
						.littlestnumbers dangermouse and other rodents
					.bignumber 9080					
				.graph
					.graph3
					.number
						%a.littlenumbers{:href=>"/blog/blog-post"}frying nemo	
						.littlestnumbers copyright infringement and death
					.bignumber 7345				
				.graph
					.graph4
					.number
						%a.littlenumbers{:href=>"/blog/blog-post"}fantastic squid thingy	
						.littlestnumbers dangerous aquatic fauna
					.bignumber 5343
				.graph
					.graph5
					.number
						%a.littlenumbers{:href=>"/blog/blog-post"}extra soy sauce	
						.littlestnumbers gandalf's personal chickens
					.bignumber 2981

.blog_2.rows
	.quarter1#tablet1	
		.blog-post
			.picture	
				%img.leading-image{:style=>"background-image: url('/images/mancouch1.jpg')"}
				.postheader
					%h2 
						%a{:href=>"/blog/blog-post"}Investing Simplified: now you can do it on your couch
			.textbit
				.othertext
					.metadata
						%h3
							%a{:href=>"/blog/author"} by Sharlene Tan
					.social-share
						.icon-twitter-sign.icon
						.icon-facebook-sign.icon
				.date
					%b October 21, 1999
				%p
					In recent weeks, all signs point to a wealth of new opportunities becoming available to agribusiness. Along with full moisture profiles...
					%br
			.linkstrip
				%a.leading-link{:href=>"/blog/blog-post"} more

	.quarter1.col1
		.blog-post.featured
			.picture	
				%img.leading-image{:style=>"background-image: url('/images/cat.png')"}
				.postheader
					%h2 
						%a{:href=>"/blog/blog-post"}The thing about Cats...
					%p
						%b 3rd December 2013
					%a.leading-link{:href=>"/blog/blog-post"} more
	.threequarter.col2#tablet2
		.blog-post
			%table
				%tr
					%td.firstcell
						.icon-chevron-left.icon
					%td.secondcell
						%h2 Get the latest news in ... Horticulture
					%td.thirdcell
						.icon-chevron-right.icon
			%table.samples
				%tr.samples
					%td.picture.tablefirst
						%img.leading-image{:style=>"background-image: url('/images/happy_family.png')"}
							.postheader
								%h2 
									%a{:href=>"/blog/blog-post"}The RHS Chelsea Flower Show
								%p
									%b 12th November 2013
								%a.leading-link{:href=>"/blog/blog-post"} more
					%td.spacer.tablesecond
					%td.picture.tablesecond
						%img.leading-image{:style=>"background-image: url('/images/home.png')"}
							.postheader
								%h2 
									%a{:href=>"/blog/blog-post"}The Financial Truth in Flower Arranging
								%p
									%b 12th April 1066
								%a.leading-link{:href=>"/blog/blog-post"} more
					%td.spacer.tablethird
					%td.picture.tablethird 
						%img.leading-image{:style=>"background-image: url('/images/interest.png')"}
							.postheader
								%h2 
									%a{:href=>"/blog/blog-post"}Trees and their stockmarket activities
								%p
									%b 22nd October 1922
								%a.leading-link{:href=>"/blog/blog-post"} more

.blog_2.rows
	.quarter1.col1
		.blog-post.featured
			.picture	
				%img.leading-image{:style=>"background-image: url('/images/door.png')"}
				.postheader
					%h2 
						%a{:href=>"/blog/blog-post"}That Moroccan Holiday
					%p 
						%b 20th August 2013
					%a.leading-link{:href=>"/blog/blog-post"} more

	.threequarter.col2
		.blog-post
			%table
				%tr
					%td.firstcell
						.icon-chevron-left.icon
					%td.secondcell
						%h2 Get the latest news in ... Technology
					%td.thirdcell
						.icon-chevron-right.icon
			%table.samples
				%tr.samples
					%td.picture.tablefirst	
						%img.leading-image{:style=>"background-image: url('/images/elderly.png')"}
							.postheader
								%h2 
									%a{:href=>"/blog/blog-post"}The Silver iPad and Banking
								%p
									%b 12th January 2013
								%a.leading-link{:href=>"/blog/blog-post"} more
					%td.spacer.tablesecond
					%td.picture.tablesecond	
						%img.leading-image{:style=>"background-image: url('/images/highway.png')"}
							.postheader
								%h2 
									%a{:href=>"/blog/blog-post"}How Banks just Know
								%p
									%b Judgement Day
								%a.leading-link{:href=>"/blog/blog-post"} more
					%td.spacer.tablethird
					%td.picture.tablethird
						%img.leading-image{:style=>"background-image: url('/images/I254eww.jpg')"}
							.postheader
								%h2 
									%a{:href=>"/blog/blog-post"}Saving it for a Rainy Day
								%p
									%b 22nd October 40,000
								%a.leading-link{:href=>"/blog/blog-post"} more
.pagination
	%ul
		%li.selected 1
		%li 2
		%li 3
		%li 4
		%li 5
		%li 6
		%li 7
		%li 8
		%li 9
		%li 10

