
-# %nav.main
-# 	.primary#blog-nav
-# 		%ul
-# 			%a{:href=>"/blog"}
-# 				%li.selected All Blog Posts
-# 			%li Saving Money
-# 			%li Work Life Balance
-# 			%li Financial Harship
-# 			%li Travel Destinations
-# 			%li More Categories


	