
- content_for :title do
	blog
- content_for :bodyClass do
	blog

.blog_3
	.row1
		.half1
			.card				
		.quart3
			.card.blue		
		.quart4
			.card1.red
			.card2.yellow	
	
	.row2.keepright
		.quart1
			.card.lightblue
		.quart2
			.card.darkblue
		.half2
			.card

	.row2
		.quart1
			.card.lightblue
		.threequart2
			.card.darkblue
	
	.row1
		.half1
			.card				
		.quart3
			.card.blue		
		.quart4
			.card1.red
			.card2.yellow	
	.row2
		.quart1
			.card.green
		.threequart2
			.card.lightgreen