- content_for :bodyClass do
	oops

.header-image{:style=>"background-image:url('/images/404.jpg'); background-position: left 65%;"}
	%h1#rotate
		404 - Page Not Found.
%h2 We're sorry, the page you are looking for can't be found.
%p If you need assistance, please call 13 11 75.
%p
	%a Go Back
%p
	%a Sitemap


