.content-parent
  .title-area
    %h1 Are you installing a battery as part of the system?
    = render "layouts/yes-or-no"

    .radio-content-1.hidden.show-class
      %h3 Please tell us about how your battery system is coupled
      %h2 Is your system AC or DC coupled?
      .ac-dc-toggle
        .ac.toggle-active AC
        .dc DC
      .radio-content-2
        %h2 What AC battery inverter do you plan to use?
        %form
          .text-input
            %label Battery inverter manufacturer
            %input
            %label Battery inverter model
            %input
            %label Quantity
            %input
            %br
        .add-inverter
          %h3 add another battery inverter
          %a.plus-button{:type=>"checkbox", :id=>"monthly", :name=>"switch", :checked=>"checked", :class=>"inverterToggler1"}
            .plus +
        .extra-inverter1.hidden
          .text-input
            %form
              %label Battery inverter manufacturer
              %input
              %label Battery inverter model
              %input
              %label Quantity
              %input
          .add-inverter
            %h3 add another battery inverter
            %a.plus-button{:type=>"checkbox", :id=>"monthly", :name=>"switch", :checked=>"checked", :class=>"inverterToggler2"}
              .plus +
        .extra-inverter2.hidden
          .text-input
            %form
              %label Battery inverter manufacturer
              %input

              %label Battery inverter model
              %input

              %label Quantity
              %input
  .button-area-1
    %a.button{:href=>"/export"}
      Next

    %a.button.tertiary{:href=>"/other-sources"}
      go back