- content_for :title do
	Business Accounts
- content_for :bodyClass do
	parent-page products-page

.header-image{:style=>"background-image:url('/images/TEST_business_loans_header.jpg')"}
	%h1
		Business Banking
.breadcrumbs


%h2 Introducing the more personal business bank
%p Where you have access to a dedicated point of contact who can help you achieve your business goals with smart, simple banking tools.

.product-summary
	%h2 Accounts
	.inline-column
		%h5
			%a Business Accounts
		%p Accounts that give you easy access to your money.
	.inline-column
		%h5
			%a Agribusiness Banking
		%p We have a long history of helping Australian farmers reach their goals.
	.inline-column
		%h5
			%a EFTPOS & Online Payment Options
		%p Be available to more customers and offer them more ways to pay.
	.inline-column
		%h5
			%a Business Credit Cards
		%p If you get this credit card you can buy an airplane, or a horse.


.product-summary
	%h2 Business Loans
	.inline-column
		%h5
			%a Business Lending
		%p Expand and grow your business through our range of short and long term lending options.
	.inline-column
		%h5
			%a Agribusiness Banking
		%p We have a long history of helping Australian farmers reach their goals.
	.inline-column
		%h5
			%a Management Rights
		%p Specialist lending and transactional banking for the Management Rights industry.


.product-summary
	%h2 Specialist Business Services
	.inline-column
		%h5
			%a International Trade Finance
		%p Flexible facilities that make a world of difference.
	.inline-column
		%h5
			%a Treasury
		%p Foreign currency products and wholesale funding.
	.inline-column
		%h5
			%a Business Superannuation
		%p Assist your employees' futures.

.product-summary
	%h2 Other Options
	.inline-column
		%h5
			%a Bank Guarantees
		%p Be available to more customers and offer them more ways to pay.
	.inline-column
		%h5
			%a Bizi.com.au
		%p Find out which Banking, Insurance, and Superannuation products best suit your business needs.
	.inline-column
		%h5
			%a Interest Rates
		%p Find out our current interest rates.



.call-to-action
	%ul
		%li#apply
			.icon.icon-phone
			.action-header{:style=>"font-size: 20px"}
				Contact a Business Banking Manager
			.action-content
				%button.red
					Contact Us

		%li#location
			.icon.icon-laptop
			.action-header{:style=>"font-size: 22px"}
				Make an Online Enquiry
			.action-content
				%button.green
					Enquire Now

		%li#existing
			.icon.icon-bell
			.action-header{:style=>"font-size: 22px"}
				Financial Hardship?
			.action-content
				%button.green
					Get Help Now
