- content_for :title do
	How to Choose a Bank Account
- content_for :bodyClass do
	Bank child-page

.header-image{:style=>"background-image:url('/images/family.png')"}
	%h1
		Choosing a Credit Card

.product-summary
	%span
		%h2 Three steps to finding the right card
		%p For further information on the fees and features of the Suncorp Clear Options credit cards please view the Cards Comparison Table.

		%p If you would like more information about any of the Suncorp Clear Options credit cards, please contact us on: 13 11 75.

.child-tiles

	%ul
		%li.expandable-tile.active
			.child-tile.default
				.child-tile-header
					1. Choose, and open your new account.
				.child-tile-content
					.icon-ok-circle.icon-3x
			.child-content
				%h2 Choose, and open your new account.
				%ul.list
					%li I want a transaction account.
					%li I want a savings account.
					%li I want an account for over 55’s.
					%li I want a Kids Savings Account.
					%li Looking to transfer your credit-card balance? Call us on 13 11 75.

		%li.expandable-tile
			.child-tile.default
				.child-tile-header
					2. We'll redirect your payments.
				.child-tile-content
					.icon-exchange.icon-3x

			.child-content
				%h2 We’ll redirect your payments.

				%ul.list
					%li Just tell us which accounts you would like to switch over from your old bank and we will contact them on your behalf.
					%li Additional to that, you’ll need to tell us which of your regular payments you would like to change or cancel.
					%li Simply complete the switching form below, and then bring the completed result in to your nearest branch.

		%li.expandable-tile
			.child-tile.default
				.child-tile-header
					3. Close your old account.
				.child-tile-content
					.icon-off.icon-3x
			.child-content

				%h2 Close your old account.
				%ul.list
					%li Contact your bank to officiate the closing of your account
					%li Be sure to check all of your payments have been redirected successfully.
