%h1 How much do you want your inverter to export in kW?
.content-parent
  .content-area-1
    %h2 Please consider whether you really need the maximum available.
    %h3 The maximum available to you for this meter is 3.5kw.

    .dialer
      %img{:src=>"/images/dialer.png"}

    %h3 Your inverter's predetermined capacity is 3.5kW
    %h3 You can get approval for this installation
  .button-area-1
    %a.button{:href=>"/summary"}
      Get Approval
    %a.button.secondary{:href=>"/request-assessment"}
      I need to export more