.content-parent
  .title-area
    %h1 Your export and system summary
.content-parent
  .content-area-1
    %h2 Export summary
    %h3 The maximum available to you for this meter is 3.5kw.
    .dialer
      %img{:src=>"/images/dialer.png"}

  .content-area-1
    %h2 System summary
    %h3 Your inverter's predetermined export capacity is 3.5kW
    %h4 Solar
    %ul
      %li Inverter: "CEC Approved NEC 9810 Inverter"
      %li Export: 3.5kW
      %li Capacity: 7.6kW

    %h3 You can get approval for this installation
    %p The approval is valid for the export and capacity shown or a lower export and/or lower capacity

  .button-area-1
    %a.button{:href=>"/finished"}
      Get Approval
    %a.button.tertiary{:href=>"/battery"}
      go back
