.content-parent
  .title-area
    %h1 Your export and system summary
.content-parent
  -#.content-area-1.positiveContent
  -#  %h2 Export summary
  -#  %h1 The maximum available to you for this meter is 4.5kw.
    -#.dialer
    -#  %img{:src=>"/images/dialer.png"}

  .content-area-1
    %h2 System summary
    %h3 Your systems predetermined export is 4.5kW
    %h3 Your systems predetermined capacity is 6kW
    %h4 NMI: 1767863
    %h4 Meter Number: 999888999
    =render "layouts/table"

  .content-area-1.positiveContent
    %h1 You can proceed to get approval for this installation.
    %p The approval is valid for the inverter capacity and export shown or less.
    %h1 Click below to get approval emailed to you.

  .button-area-1
    %a.button{:href=>"/finished"}
      Get Approval
    %a.button.tertiary{:href=>"/battery"}
      go back
