%h1.spacer How much do you want your inverter to export in kW?

%h4.spacer Please consider whether you really need the maximum available.

%h3.spacer Use the dial to adjust to how much you need.


.dialer.spacer
  = render "layouts/dialer"

%h3.spacer Your inverter's predetermined capacity is 3.5kW
%h3
  %b You can get approval for this installation


%a.button{:href=>"/summary"}
  Go to summary


%a.button.secondary{:href=>"/request-assessment"}
  I need to export more


%a.spacer{:href=>"/what-system"}
  go back