- content_for :title do
	FAQ
- content_for :bodyClass do
	faq

%h1 Frequently Asked Questions

.faq-filters
	%label
		Browse FAQ Category
	%label
		Search FAQ by Keyword

.alert We're sorry, there are no matches for what you searched for.

.help-links
	%p If you're stuck, you can always contact us for help.

	%br

	%ul
		%li.icon-phone 13 11 75
		%li.icon-map-marker
			%span Visit a
			%a Suncorp Bank Branch
		%li.icon-envelope-alt
			%a Email Us

