.content-parent
  .title-area
    %h1 You're all set.
    %h2 You can begin your installation based on the details you've provided
    %p An email has been sent to the email address you provided
    %h1 Please record your reference number: 1024888
  .button-area-1
    %a.button{:href=>"/"}
      home