- content_for :title do
	Foreign Exchange Rates
- content_for :bodyClass do
	Foreign-Exchange child-page

.header-image{:style=>"background-image:url('/images/argentina.jpg')"}
	%h1
		Foreign Exchange Rates
%h2  Suncorp-Metway Ltd Buys and Sells at the following rates
%h4 Rates were last updated 8:34am, 22 May 2013 but are subject to change without notice.
%table.compare-table#foreign-exchange
	%tbody
		%tr.table-header
			%th
			%th
				Buy
				%br
				Cheques
			%th
				Buy
				%br
				Inward TT's
			%th
				Sell
				%br
				TT's & Drafts
			%th
				Buy
				%br
				Notes
			%th Sell Notes, Travellers Cheques & Cash Passports
		%tr
			%td
				%strong Europe
				%br
				%sub Euro | EUR
			%td 0.7880
			%td 0.7830
			%td 0.7247
			%td 0.8096
			%td 0.7217
		%tr
			%td
				%strong USA
				%br
				%sub Dollar | USD
			%td 1.0061
			%td	1.0066
			%td	0.9468
			%td	1.0184
			%td	0.9418
		%tr
			%td
				%strong United Kingdom
				%br
				%sub Pound | GBD
			%td 1.0061
			%td	1.0066
			%td	0.9468
			%td	1.0184
			%td	0.9418
		%tr
			%td
				%strong Japan
				%br
				%sub Yen | JPY
			%td 1.0061
			%td	1.0066
			%td	0.9468
			%td	1.0184
			%td	0.9418
		%tr
			%td
				%strong Canada
				%br
				%sub Dollar | CAD
			%td 1.0061
			%td	1.0066
			%td	0.9468
			%td	1.0184
			%td	0.9418
		%tr
			%td
				%strong Switzerland
				%br
				%sub Franc | CHF
			%td 1.0061
			%td	1.0066
			%td	0.9468
			%td	1.0184
			%td	0.9418
		%tr
			%td
				%strong Denmark
				%br
				%sub Krone | DKK
			%td 0.7880
			%td 0.7830
			%td 0.7247
			%td 0.8096
			%td 0.7217
		%tr
			%td
				%strong Fiji
				%br
				%sub Dollar | FJD
			%td 0.7880
			%td 0.7830
			%td 0.7247
			%td 0.8096
			%td 0.7217
		%tr
			%td
				%strong Honk Kong
				%br
				%sub Dollar | HKD
			%td 0.7880
			%td 0.7830
			%td 0.7247
			%td 0.8096
			%td 0.7217
		%tr
			%td
				%strong India
				%br
				%sub Rupee | INR
			%td 0.7880
			%td 0.7830
			%td 0.7247
			%td 0.8096
			%td 0.7217
		%tr
			%td
				%strong Norway
				%br
				%sub Krone | NOK
			%td 0.7880
			%td 0.7830
			%td 0.7247
			%td 0.8096
			%td 0.7217
		%tr
			%td
				%strong New Zealand
				%br
				%sub Dollar | USD
			%td 0.7880
			%td 0.7830
			%td 0.7247
			%td 0.8096
			%td 0.7217
		%tr
			%td
				%strong Papua New Guinea
				%br
				%sub Kina | PGK
			%td 0.7880
			%td 0.7830
			%td 0.7247
			%td 0.8096
			%td 0.7217
		%tr
			%td
				%strong Philippines
				%br
				%sub Peso | PHP
			%td 0.7880
			%td 0.7830
			%td 0.7247
			%td 0.8096
			%td 0.7217
		%tr
			%td
				%strong Sweden
				%br
				%sub Krona | SEK
			%td 0.7880
			%td 0.7830
			%td 0.7247
			%td 0.8096
			%td 0.7217
		%tr
			%td
				%strong Singapore
				%br
				%sub Dollar | SGD
			%td 0.7880
			%td 0.7830
			%td 0.7247
			%td 0.8096
			%td 0.7217
		%tr
			%td
				%strong Thailand
				%br
				%sub Baht | THB
			%td 0.7880
			%td 0.7830
			%td 0.7247
			%td 0.8096
			%td 0.7217
		%tr
			%td
				%strong South Africa
				%br
				%sub Rand | ZAR
			%td 0.7880
			%td 0.7830
			%td 0.7247
			%td 0.8096
			%td 0.7217