
.content-parent
  .content-area-1.positiveContent
    %h3 Based on our network assessment you are eligible for:
    %h4
      %ul
        %li 10kW inverter capacity per phase
        %li 5kW export per phase
    %h3 It looks like this is a 3 phase property
  .title-area
    %h1 Please tell us about your installation
.content-parent
  .content-area-1
    %h2 Are you installing a solar generation system?
    .solar-yes-no-toggle
      .solar-yes.toggle-active yes
      .solar-no no
    = render "layouts/solar-inverter"
    .extra-inverter1.hidden
      =render "layouts/solar-inverter"
      .extra-inverter2.hidden
        =render "layouts/solar-inverter"

  .content-area-1
    %h2 Are you installing a battery as part of the system?
    .battery-yes-no-toggle
      .battery-yes.toggle-active yes
      .battery-no no
    %hr
    .radio-content-3
      %h2
        %b Is your system AC or DC coupled?
      %a{:href=>"/ac-dc-diagram"}what does this mean?
      .ac-dc-toggle
        .ac.toggle-active AC
        .dc DC
    .radio-content-2
      =render "layouts/battery-inverter"
    .extra-inverter1.hidden
      =render "layouts/battery-inverter"
      .extra-inverter2.hidden
        =render "layouts/battery-inverter"

  .content-area-1.positiveContent
    %h2 Based on the inverters you've chosen, here's your summary so far
    = render "layouts/table"


  .button-area-1
    .instructionContentBattery.hidden
      %h3 It looks like you're not installing any generation.
      %h4 If this is correct, and you only want to install a battery, please continue.
      %h4 If this doesn't sound right, please check the options above to add generation.
      %a.button.secondary{:href=>"/battery"}
        I just want batteries
    .instructionContent
      %h3 You need to select one or more inverters before you can continue
    .linkContent1
      %a.button{:href=>"/export"}
        Next
      %a.button.tertiary{:href=>"/if-existing"}
        go back
    .linkContent2
      %h3 We can't approve this application at this time
      %h4 This is because your total system capacity is too high, which may be because of the inverter you've chosen.
      %div
        %p We can only allow up to 10kW capacity per phase, and in some cases the infrastructure will support less than that.
        %hr
        %p You can select another meter with a lower capacity and output from the CEC approved list and try again, or:
        %p If you'd like this to be reviewed, you can apply for one of our engineers to take a look.
      %a.button.secondary{:href=>"/request-assessment"}
        Request an assessment
      %a.button.tertiary{:href=>"/if-existing"}
        go back

.content-parent#dynamicWarning
  .content-area-1.instructionContent
    %h3 It looks like you've added too many inverters to phase B - please try removing or changing the chosen inverters in order to proceed.