
.content-parent
  .title-area
    %h1 Please tell us about your installation
.content-parent
  .content-area-1
    %h2 Which of these best describes your installation?
    %form
      .checkbox
        %input{:type=>"radio", :id=>"newInstallation", :name=>"newInstallation", :class=>"newInstallation"}
        %label{:for=>"solar"} New installation
      .checkbox
        %input{:type=>"radio", :id=>"replacementInstallation", :name=>"replacementInstallation", :class=>"replacementInstallation"}
        %label{:for=>"battery"} Replacing existing
      .checkbox
        %input{:type=>"radio", :id=>"upgradingInstallation", :name=>"upgradingInstallation", :class=>"upgradingInstallation"}
        %label{:for=>"battery"} Upgrading existing
  .content-area-1
    %h2 Are you installing a solar generation system?
    = render "layouts/yes-or-no"

    .radio-content-1.hidden.show-class
      %h3 What inverter do you plan to use?
      .text-input
        %form
          %label Solar inverter manufacturer
          %select{:class=>"inverterSelector"}
            %option{:value=>"1"} please select...
            %option{:value=>"2"} CEC Approved NEC 9980 Inverter
            %option{:value=>"3"} CEC Approved NEC 9000 Inverter
          %label Solar inverter model
          %input
          %label Quantity
          %input
      .add-inverter
        %h4 add an inverter...
        %a.plus-button{:type=>"checkbox", :id=>"monthly", :name=>"switch", :checked=>"checked", :class=>"inverterToggler1"}
          .plus +
      .extra-inverter1.hidden
        .text-input
          %label Solar inverter manufacturer
          %select{:class=>"inverterSelector"}
            %option{:value=>"1"} please select...
            %option{:value=>"2"} CEC Approved NEC 9980 Inverter
            %option{:value=>"3"} CEC Approved NEC 9000 Inverter
          %label Solar inverter model
          %input
          %label Quantity
          %input
        .add-inverter
          %h4 add an inverter...
          %a.plus-button{:type=>"checkbox", :id=>"monthly", :name=>"switch", :checked=>"checked", :class=>"inverterToggler2"}
            .plus +
        .extra-inverter2.hidden
          .text-input
            %form
              %label Solar inverter manufacturer
              %input
              %label Solar inverter model
              %input
              %label Quantity
              %input
  .content-area-1
    %h2 Are you installing Wind or Hydro?
    .checkbox
      %input{:type=>"checkbox", :id=>"windQuery", :name=>"windQuery", :class=>"windQuery"}
      %label{:for=>"solar"} Wind
    .checkbox
      %input{:type=>"checkbox", :id=>"hydroQuery", :name=>"hydroQuery", :class=>"hydroQuery"}
      %label{:for=>"battery"} Hydro

    .wind-content.hidden
      %h3 What inverter do you plan to use for your wind system?
      .text-input
        %form
          %label Inverter manufacturer
          %select{:class=>"inverterSelector2"}
            %option{:value=>"1"} please select...
            %option{:value=>"2"} CEC Approved NEC 3360 Inverter
            %option{:value=>"3"} CEC Approved Toshiba 2745 Inverter

          %label Inverter model
          %input

          %label Quantity
          %input

    .hydro-content.hidden
      %h3 What inverter do you plan to use for your hydro system?
      .text-input
        %form
          %label Inverter manufacturer
          %select{:class=>"inverterSelector3"}
            %option{:value=>"1"} please select...
            %option{:value=>"2"} CEC Approved GenTrax 1000 Inverter
            %option{:value=>"3"} CEC Approved Toshiba 2745 Inverter

          %label Inverter model
          %input

          %label Quantity
          %input
  .button-area-1
    .instructionContent
      %h3 You need to select one or more inverters before you can continue
    .linkContent1

      %a.button{:href=>"/battery"}
        Next
    .linkContent2
      %h3 We can't approve this application at this time
      %h4 This is because your total system capacity is too high, which may be because of the inverter you've chosen.
      %div
        %p We can only allow up to 10kW capacity per phase, and in some cases the infrastructure will support less than that.
        %hr
        %p You can select another meter with a lower capacity and output from the CEC approved list and try again, or:
        %p If you'd like this to be reviewed, you can apply for one of our engineers to take a look.
      %a.button.secondary{:href=>"/request-assessment"}
        Request an assessment

    %a.button.tertiary{:href=>"/nmi-meter-email"}
      go back