- content_for :title do
	Home Loans
- content_for :bodyClass do
	child-page

.header-image{:style=>"background-image:url('/images/family.png')"}
	%h1
		Buying Your First Home

.product-summary
	%h2 Securing a home loan for the first time needn’t be a daunting process.

	%p With Suncorp Bank, there are just six simple steps - right from information gathering to approval.
	%ul.proof-points
		%li We'll walk you through all the standard costs associated with buying a new home
		%li And fill you in on what you need to know about your deposit options.

.child-tiles
	%ul
		%li.expandable-tile.active

			.child-tile.default
				.child-tile-header
					%p Step by Step
					.icon-play.icon

			.child-content
				%h2 Understanding the Home Loan Process
				%p To help you understand the simple steps to securing a home loan with Suncorp Bank, we've outlined some of the key milestones in the process.
				%button.green A How To guide to Home Loans
					
		%li.expandable-tile

			.child-tile.default
				.child-tile-header
					%p Reviewing Your Situation
					.icon-question-sign.icon

			.child-content
				%h2 Reviewing your situation
				%p Before you buy, build, renovate, invest or refinance, you should first put together a budget for your income and expenses. This will help you identify how much you can borrow, and whether you can afford the loan repayments.

				%p It's important to factor in not only your current finances, but also your future needs and any changes in lifestyle that could affect your budget. It's also a good idea to build in a contingency for unexpected costs.
				%button.green Taking Stock of Your Finances Worksheet
					
		%li.expandable-tile

			.child-tile.default
				.child-tile-header
					%p Knowing the Costs
					.icon-money.icon

			.child-content
				%h2 Understanding additional costs

				%p Buying a property costs more than just the purchase price. So it's important to be aware of all the additional costs you'll incur when buying a property – and budget for them accordingly before you sign a contract.

				%strong Here are some of the costs, fees and charges you may want to consider*.

				%hr
				
				%h3 Building and Pest Inspections
				%p It's a good idea to consider signing a contract subject to building and pest inspections, so you have the option to obtain a professional report on the current condition and any issues affecting the property you're about to purchase.

				%hr

				%h3 Property Valuation

				%p Property valuations give you an independent view on how much the property is actually worth, so you can obtain some comfort that the asking price for a property is reasonable – now that's peace of mind.

				%hr

				%h3 Transfer Fees, Stamp Duty and other government fees

				%p Stamp Duty, Mortgage Registration Fees, and Transfer Fees are State Government charges that vary according to the purchase price of your new property and the amount you borrow. You should also ascertain if any other government charges apply.
				
				%hr

				%h3 Legal fees

				%p You should also consider engaging a solicitor to do your conveyancing and to carry out the basic searches that need to be done on a property before purchase. You may also want extra searches carried out, depending on the location of your property and the information you wish to know, all of which will cost extra.

				%hr 

				%h3 Lenders Mortgage Insurance

				%p If you borrow more than 80% of the purchase price for Full Doc Loans, or 60% for Low Doc loans, you will need to pay Lenders Mortgage Insurance to protect the Bank against potential loss in the event of a forced sale of a mortgaged property. This insurance does not insure you.

				%hr

				%h3 Home/Building Insurance

				%p It's a requirement that you take out insurance for a mortgaged property, to protect both you and the Bank in the unfortunate event of damage or destruction of the property.

				%p You should carefully consider which insurance product and what level of cover is right for your individual needs, as this will help you get back on your feet quickly if you ever experience an insured loss or damage.

				%hr

				%h3 Other potential costs

				%ul.list
					%li Utilities (phone, internet, electricity and gas)
					%li Council and water rates
					%li Body corporate fees
					%li Removalists & cleaners (or DIY and save!)
					%li Any new furniture or whitegoods
					%li Ongoing maintenance
				 
				.product-summary
					%h4 Understanding Fees and Charges

					%p A range of fees and charges apply both to home loan applications and home loans. You should make sure you understand all the costs before you apply.

					%p For a complete guide to the fees and charges on our home loans, download our Lending Fees and Charges brochure, or pick one up from your nearest Suncorp Bank branch.
		%li.expandable-tile

			.child-tile.default
				.child-tile-header
					%p The First Home Owner Grant
					.icon-certificate.icon

			.child-content
				%h2 Are you eligible?

				%p The First Home Owner Grant (FHOG) is a government scheme introduced to offset the effect of the GST with a one-off grant payable to eligible first home owners.

				%p You can obtain information about the First Home Owners Grant by contacting the Revenue Office in your State or Territory, or by visiting www.firsthome.gov.au

				%p We can make it easy for you by processing the grant application with your Suncorp Bank Home Loan. Ask us how.
		%li.expandable-tile

			.child-tile.default
				.child-tile-header
					%p Deposit Options
					.icon-certificate.icon

			.child-content
				%h4 We understand that saving a deposit for your first home is a substantial undertaking. 
				%p That’s why the Suncorp Group has created options like our Deposit KickStart and Low Deposit Options. They’re all designed to help make it easier to secure your loan, and get you into your new home sooner.
				%hr
				%h3 Deposit KickStart

				Deposit KickStart lets you use the equity in the home of a family member towards the purchase of your new owner-occupied home – to help kick start your dream.
				%br
				%a.leading-link
					See Example of Deposit KickStart
				
				%hr 
				%h3 Low Deposit Option1

				%p Our low deposit option enables you to borrow up to 95% of the property’s confirmed value, and is available to both owner-occupiers and investors.

				%p An example: The property being purchased is valued at $300,000. You can borrow up to 95% of the value of the property.

				%img{:src=>"/images/low_deposit.gif"}
		%li.expandable-tile

			.child-tile.default
				.child-tile-header
					%p Ways to Apply
					.icon-certificate.icon

			.child-content
				%h2 Reviewing your situation
				%p Before you buy, build, renovate, invest or refinance, you should first put together a budget for your income and expenses. This will help you identify how much you can borrow, and whether you can afford the loan repayments.

				%p It's important to factor in not only your current finances, but also your future needs and any changes in lifestyle that could affect your budget. It's also a good idea to build in a contingency for unexpected costs.
				%button.green Taking Stock of Your Finances Worksheet

.call-to-action

	%ul
		%li#apply
			.icon.icon-chevron-right
			.action-header
				Apply for an Account
			.action-content
				%button.red
					Apply Online

		%li#location
			.icon.icon-phone
			.action-header
				Call Us
				%br
				13 11 75
			.action-content
				%p BSB is 484-799 for all Suncorp Bank branches.

		%li#existing
			.icon.icon-group
			.action-header
				Existing Customers
			.action-content
				%button.red
					Internet Banking Login

