.content-parent
  .content-area-1.positiveContent
    %h3 It looks like you already have an installation.
  .content-area-1
    %p Please let us know if you plan to completely replace or add to it
    %ul
      %li Adding to your existing system is when you're leaving everything that's there already and then putting some new parts on top as well.
      %li Replacing is when you're taking everything that's there away and adding a completely new installation.
    .replacement-adding-toggle
      .adding Adding
      .replacement.toggle-active Replacing
    %br
    %hr
    %br
    .existing-input
      %div
        %h2 Please let us know the total existing inverter capacity:
        %form.text-input
          %input
      %div
        %h2 Please let us know the total existing export rating:
        %form.text-input
          %input
  .button-area-1
    %a.button{:href=>"/generation"}
      Next
    %a.button.tertiary{:href=>"/terms-conditions"}
      go back