.content-parent
  .title-area
    %h1 Please tell us the NMI and Meter Number
    %h2 These can be found on a recent electricity bill for the property.
.content-parent
  .content-area-1
    %form.text-input
      %div
        %h3 Enter your NMI (National Meter Identifier)
        .detail-text This is an 11-digit number, usually on page two of your electricity bill
        %input
      %div
        %h3 Enter your Meter Number
        .detail-text This is a 7-digit number found on your meter or also on page two of your electricity bill
        %input{:class=>"meterNumber"}
      %div
        %h3 How many phases does the property have
        .detail-text Most have 1 phase but some have more, for example if it's a large property or an elevator has been installed.
        %select
          %option 1
          %option 2
          %option 3
      %div
        %h3 Enter the email address of the person managing this grid application
        .detail-text your pre-approval will be sent to this address
        %input
  .content-area-1.hidden
    .linkContent2
      %h3 We can't approve this application at this time
      %h4 This is because there is no capacity for extra generation at your substation.
      %div
        %p We will be unable to approve any applications at this substation using this tool.
        %p However, you can request to have a review and one of our engineers can take a look.
      %a.button.secondary{:href=>"/request-assessment"}
        Request an assessment

  .button-area-1
    .positiveContent
      %h3 There is sufficient capacity for up to 5kW export per phase at the substation, so you can proceed.
    %a.button{:href=>"/generation"}
      Next

    %a.button.tertiary{:href=>"/terms-conditions"}
      go back