%h1.section Please tell us the NMI and Meter Number
.line
%h3.section These can be found on a recent electricity bill for the property.
%form.section.text-input
  %div
    %label
      %b Enter your NMI (National Meter Identifier)
    .detail-text This is an 11-digit number, usually on page two of your electricity bill
    %input
  %div
    %label
      %b Enter your Meter Number
    .detail-text This is a 6-digit number found on your meter or also on page two of your electricity bill
    %input
  %div
    %label
      %b Enter the email address of the person managing this grid application
    .detail-text your pre-approval will be sent to this address
    %input

%a.button.spacer{:href=>"/solar"}
  Next

%a.spacer{:href=>"/terms-conditions"}
  go back