.content-parent
  .title-area
    %h1 Please tell us the NMI and Meter Number
    %h2 These can be found on a recent electricity bill for the property.
.content-parent
  .content-area-1
    %form.text-input
      %div
        %h3 Enter your NMI (National Meter Identifier)
        .detail-text This is an 11-digit number, usually on page two of your electricity bill
        -#%input.warning
        %input
      %div
        %h3 Enter your Meter Number
        .detail-text This is a 7-digit number found on your meter or also on page two of your electricity bill
        .detail-text This is the meter number for the meter you plan to connect your system to.
        -#%input.warning{:class=>"meterNumber"}
        %input{:class=>"meterNumber"}
      %div
        %h3 Enter the email address of the person managing this grid application
        .detail-text your pre-approval will be sent to this address
        %input
      -#%div
      -#  %h3 Which of these options best describes your installation?
      -#  %label
      -#  %select
      -#    %option{:value=>"1"} A completely new installation
      -#    %option{:value=>"2"} An complete replacement of an existing installation
      -#    %option{:value=>"3"} Adding to an existing system
      %div
        %img.captcha{:src=>"/images/Captcha-Solver-web.png"}
  .content-area-1
    .instructionContent
      %h3 The information you have entered does not match our records.
      %p Please check that the Meter Number and NMI are correct.
    %a.button.tertiary{:href=>"/terms-conditions"}
      go back


  .button-area-1
    %a.button{:href=>"/if-existing"}
      Next
    %a.button.tertiary{:href=>"/terms-conditions"}
      go back

  .content-area-1
    %h3 Sorry, we can’t approve your application at this time because there is no availability on the network.
    %h4 If you would like further assessment of your system, you can request a manual review from one of our technical design engineers below.
    %a.button.secondary{:href=>"/request-assessment"}
      Request an assessment
    %a.button.tertiary{:href=>"/terms-conditions"}
      go back
