.content-parent
  .title-area
    %h1 Please review this phase setup:
.content-parent
  .content-area-1
    .phasing
      %h3 Total capacity to export across 3 phases:
      .export-total 13 kW
  .content-area-1
    .phasing
      %p Please distribute your system output evenly across each phase:
      %h3 Phase A
      .text-input
        %input
      %hr
      %h3 Phase B
      .text-input
        %input
      %hr
      %h3 Phase C
      .text-input
        %input

  .button-area-1
    %a.button{:href=>"/export"}
      Next
    %a.button.tertiary{:href=>"/other-sources"}
      go back
