.content-parent
  .title-area
    %h1 Request a technical assessment for pre-approval
.content-parent
  .content-area-1
    %h2 If you are unable to proceed with online pre-approval through this tool, you may wish to apply for one of our technical design engineers to assess your system and see if you are eligible.
    %ul
      %li
        %p This is only beneficial when you wish to exceed your export limit.
        %p
          %b Note:
          %p we will never allow more than 10kW inverter capacity per phase or more than 5kW (3.5kW on SWER) export per phase due to network restrictions.
      %li
        %p The fee for this service is $151.00 (excl. GST) for systems up to 15kW and $200.25 (excl. GST) for systems over 15kW and up to 30kW.
    %a.button.secondary{:href=>"https://ausnetservices.com.au/en/New-Connections/Solar-and-Battery-Connections/Large-complex-connections"} Request technical assessment
    %a.button.secondary{:href=>"/"} Cancel
  .content-area-1
    %h2 Alternative options
    %ul
      %li
        %p If you wish to have extra capacity please discuss adding another phase to your property with your installer or electrician and apply again with the online tool once the work is complete.
        %p
          %b Note:
          this can cost upwards of $5000.

      %li
        %p In certain circumstances there may also be the option of upgrading the infrastructure in the network. This can give you more capacity if your closest transformer is overloaded.
        %p
          %b Note:
          this can cost upwards of $100,000.
  .button-area-1
    %a.button.tertiary{:href=>"/export"}
      go back