.content-parent
  .title-area
    %h1 Request a technical assessment for pre-approval
.content-parent
  .content-area-1
    %h2 If you are not able to proceed with online approval through this tool, you may wish to apply for one of our technical designers to assess your project and see if you are eligible for pre-approval.
    %ul
      %li
        %b This is only beneficial when you wish to exceed your allowed export limit
        %b Note: we will never allow more than 5kW export per phase, or more than 10kW capacity per phase due to network capacity. Depending on your area the limits may be less.
      %li
        %b The fee for this service is $147.00 and is payable online.
  .content-area-1
    .button-area-1
      %a.button{:href=>"/"} Cancel
      %a.button{:href=>"/"} Request technical assessment

    %h2 Alternative options
    %ul
      %li
        %p if you wish to have extra capacity please discuss adding another phase to your property with your installer or electrician and apply again with the online tool once the work is complete.
        %p Note: this can cost around $5000.

      %li
        %p In certain circumstances there may also be the option of upgrading the infrastructure in the network. This can give you more capacity if your closest transformer is overloaded.
        %p Note: this can cost upwards of $100,000.
  .button-area-1
    %a.button-tertiary{:href=>"/export"}
      go back