- content_for :title do
	search-results
- content_for :bodyClass do
	search-results

.header-image{:style=>"background-image:url('/images/argentina2.jpg')"}
	%h1
		Search Results
.product-summary
	%p The results of your search criteria are listed below. If there is no satisfactory match, you might want to check your spelling and try again, or try using our sitemap.
	.search
		%input
%ul.search-results-list
	%li.result
		%img{:src=>"/images/sunwise.jpg"}
		.description
			%h3
				%a Mobile Banking | Suncorp Bank
			%p
				Features Accessible by most mobile devices Just go to suncorpbank.com.au/m on your mobile device. All you need is a mobile device that can access the web ...
				%br
				%a www.suncorp.com.au
	%li.result
		%img{:src=>"/images/jellybeans.jpg"}
		.description
			%h3
				%a Personal Banking | Suncorp Bank
			%p
				Everyday Banking Everyday accounts giving you easy access to your money. Find out more Savings Accounts High interest accounts to help you build your ...
				%br
				%a www.suncorp.com.au
	%li.result
		.description{:style=>"width: 99%"}
			%h3
				%a Our Community | Suncorp Bank
			%p
				Everyday Banking Everyday accounts giving you easy access to your money. Find out more Savings Accounts High interest accounts to help you build your ...
				%br
				%a www.suncorp.com.au

		%li.result
			.img-container
			.description{:style=>"width: 99%"}
				%h3
					%a Personal Banking | Suncorp Bank
				%p
					Everyday Banking Everyday accounts giving you easy access to your money. Find out more Savings Accounts High interest accounts to help you build your ...

					%br
					%a www.suncorp.com.au


			%li.result
				%img{:src=>"/images/jellybeans.jpg"}
				.description
					%h3
						%a Personal Banking | Suncorp Bank
					%p
						Everyday Banking Everyday accounts giving you easy access to your money. Find out more Savings Accounts High interest accounts to help you build your ...

						%br
						%a www.suncorp.com.au



	.pagination
		%ul
			%li.selected 1
			%li 2
			%li 3
			%li 4
			%li 5
			%li 6
			%li 7
			%li 8
			%li 9
			%li 10

