%h1.section Here's what you've asked for
.line
%h3.section Solar
.section
  %ul
    %li Inverter: "Gary's inverter 101, 2.3kW"
    %li Export: 3.5kW
    %li Capacity: 7.6kW
.section
  %h1 This system is good to go


%a.button{:href=>"/finished"}
  Get Approval


%a.spacer{:href=>"/what-system"}
  go back