.promo-tile
	.sidebar
		.sidebar-content#primary
			#logon
				.header
					%span
						.icon-lock
						Login
				.details.callout
					%button.orange
						Internet Banking Login
					.other-options
						%ul.dropdown
							%li Other Login Options
							%li Share Trade
							%li Margin Lending
							%li Superannuation
							%li Working Capital
							%li Trade Finance
	.message
		%h2
			Visit our New Site
		%h1
			Banking
			.icon-chevron-right
		%h2.num
			Call Us on 13 11 75
	.bottom-content
		.helpful-links#one
			%a Interest Rates
			%a Calculators & Tools
		.helpful-links#two
			%a Foreign Exchange Rates
			%a Financial Difficulty
		.logo-tile
