- content_for :title do
	Switching to Suncorp
- content_for :bodyClass do
	switching child-page


.header-image
	%h1
		Switching to Suncorp
.breadcrumbs
	%a Bank Accounts
	%a Personal
	%a Switching to Suncorp
.product-summary
	%span
		%h2 Switch your banking to Suncorp Bank
		%p Changing to a better bank has never been easier. Understandably, the prospect of switching your account-based banking over to a new bank may seem daunting. Here at Suncorp Bank, we want to assure you that it's not.
		%ul.proof-points
			%li In fact, we'll switch everything over for you
			%li And in just three simple steps.
%h1 How to Switch

.child-tiles

	%ul
		%li.expandable-tile.active
			.child-tile.default
				.child-tile-header
					%p 1. Choose, and open your new account.
					.icon-ok-circle.icon
			.child-content
				%h2 Choose, and open your new account.
				%ul.list
					%li I want a transaction account.
					%li I want a savings account.
					%li I want an account for over 55’s.
					%li I want a Kids Savings Account.
					%li Looking to transfer your credit-card balance? Call us on 13 11 75.

		%li.expandable-tile
			.child-tile.default
				.child-tile-header
					%p 2. We'll redirect your payments.
					.icon-exchange.icon

			.child-content
				%h2 We’ll redirect your payments.

				%ul.list
					%li Just tell us which accounts you would like to switch over from your old bank and we will contact them on your behalf.
					%li Additional to that, you’ll need to tell us which of your regular payments you would like to change or cancel.
					%li Simply complete the switching form below, and then bring the completed result in to your nearest branch.

		%li.expandable-tile
			.child-tile.default
				.child-tile-header
					%p 3. Close your old account.
					.icon-off.icon
			.child-content

				%h2 Close your old account.
				%ul.list
					%li Contact your bank to officiate the closing of your account
					%li Be sure to check all of your payments have been redirected successfully.
