.content-area-1
  %h1 Terms and Conditions
  %h2 Please accept the terms and conditions before continuing:
.content-parent
  .content-area-1
    %p By signing this form, you acknowledge and represent that the information provided is true and correct and that the minimum requirements in the applicable AusNet Services policies and guidelines for Embedded Generation connection will be met, including SOP 11-16, SOP 33-06 and SOP 33-08.
    %p Unless any adverse impacts to the network are identified, AusNet Services accepts Embedded Generation installed capacities of up to 3.5kW/phase (SWER System) and 5kW/phase (on a single or three phase system) based on the sum of all existing and proposed inverter and generator ratings. Consideration will be given to larger installed capacities where export limitation can be demonstrated and proven in accordance with SOP 33-06.
    %ul
      %li AusNet Services accepts no responsibility for any costs if a customer installs an Embedded Generator prior to receiving authorisation and will require such systems to disconnect in accordance with applicable laws to protect the safety of network operators and the public as well as the security of the network.
      %li Other charges associated with metering alterations, approvals or commissioning and testing are not included in pre-approval charge.
      %li If any adverse impacts to the network are identified, the capacity of the proposed system might need to reduced, export limitation may be proposed, connection may be refused, or a financial contribution may be required to upgrade the electricity network.
      %li  Embedded Generation systems that do not meet the minimum requirements as set out in applicable policies and guidelines will not be accepted, and when identified will be required to disconnect until modified to comply.
    %p AusNet Services monitors the export of embedded generation systems to ensure that the agreed installed capacity and export limits are not breached. Where breaches are identified, the Embedded Generation system will be required to disconnect until modified to comply

    %a.button{:href=>"/nmi-meter-email"}
      I've read and agree
    %a.button.tertiary{:href=>"/"}
      go back