.content-parent
  .title-area
    %h1 Terms and Conditions
    %h2 Please accept the terms and conditions before continuing:
.content-parent
  .content-area-1.terms-conditions
    %p These terms of use apply to your use of the AusNet Electricity Services Pty Ltd (AusNet Services, we or us) Solar Connection Application.
    %p AusNet Services will permit you to access and use its solar connection application ("Service") in accordance with the terms of use set out below ("this Agreement") By accessing and using the Service from your computer, tablet, mobile device or other device ("Device") you will be deemed to have accepted and will be bound by this Agreement.
    %p THE SERVICE
    %p Subject to this Agreement, AusNet Services will permit you to access and use the Service.
    %p The Service will allow you to complete an application ("Application") to obtain approval for a solar connection (as defined in clause 1.3) and any applicable upgrades to an existing solar connection. ("Approval").
    %p You may only complete an Application for a solar connection. A solar connection is defined to mean an inverter system rated to a maximum of 5kw per phase which can include a battery connection. If your solar option does not meet the above criteria then you are required to submit the Embedded Generator and Battery Storage Pre-Approval Form to AusNet Services.
    %p You acknowledge and agree that we will not be able to provide you with an Approval for all Applications. This may be because we cannot connect you without additional network changes. In those situations, you will be prompted to complete the Embedded Generator and Battery Storage Pre-Approval Form and submit that form to us.
    %p If we grant you an Approval, that Approval will be valid for a period of 90 days from the date of the Application ("Period"). If you do not connect your solar within the Period then you must complete another Application and seek another Approval.
    %p Once you have completed the Application you will have 90 days to engage an installer currently listed on the clean energy council list of approved installers to install your solar system. Once installed, you must then contact your retailer to initiate a request for a meter upgrade and send through the connection agreement documentation which is available on our website (Embedded Generator EG and Battery Storage Connection Agreement up to 30kW). Alternatively, if you have an existing solar system and wish to install additional capacity, you must complete the Alteration or Upgrade of Inverter Energy System Form and send through a signed copy of your Certificate of Electrical Safety (CES) to solar.connections@ausnetservices.com.au
    %p You agree that the speed and access to the Service may vary depending on a number of factors, including but not limited to, the capabilities of your Device, Service user traffic and general internet congestion
    %p AusNet Services will use reasonable endeavours to provide you with reliable, secure and stable access to the Service but cannot guarantee that the access will be continuous, fault-free, secure or accessible at all times. You agree that AusNet Services may modify the Service at any time, and discontinue the Service (or part thereof) at any time. AusNet Services may also restrict your use of some or all of the Service, suspend the delivery of the Service at any time and subsequently reinstate the Service at its sole and absolute discretion.
    %p YOUR INFORMATION
    %p Our Privacy Policy applies to you and forms part of this Agreement. Your use of the Services confirms that you consent to, and authorise the collection, use and disclosure of your personal information in accordance with our Privacy Policy. Please click here to view our Privacy Policy https://www.ausnetservices.com.au/Misc-Pages/Privacy. You agree that we may from time to time retain information the following information when you complete an Application:
    %p your National Metering Identifier;
    %p meter number;
    %p capacity allowed on our system;
    %p reference number; and
    %p your email address.
    %p You agree that we will not be responsible for any loss of information which you may submit to us.
    %p SECURITY
    %p Whilst AusNet Services will use reasonable endeavours to provide you with secure access to the Service, AusNet Services cannot guarantee the security of the Service at all times. You are solely responsible for any information or data uploaded, downloaded or otherwise communicated via the Service and you are responsible for keeping all security-based information secure and private at all times.
    %p AusNet Services strongly recommends you install and keep updated a personal firewall and/or the appropriate anti-virus software on your Device.
    %p PRIVACY
    %p In providing the Service, AusNet Services may collect your personal information. You agree that AusNet Services may collect, store, use and disclose your personal information in accordance with the AusNet Services’ privacy policy, collection statement and meter data privacy statement ("Privacy Policy"). A copy of the Privacy Policy may be found at https://www.ausnetservices.com.au/Misc-Pages/Privacy
    %p PROHIBITED USES
    %p You agree not to modify, copy, distribute, transmit, display, perform, reproduce, publish, license, create derivative works from, transfer, or sell or re-sell any information, software, products, or Services obtained from or through the website. Additionally, you agree not to:
    %p access, monitor or copy any content or information of the website using any robot, spider, scraper or other automated means or any manual process for any purpose without AusNet Services’ express written permission;
    %p violate the restrictions in any robot exclusion headers on the website or bypass or circumvent other measures employed to prevent or limit access to the website;
    %p take any action that imposes, or may impose, in AusNet Services’ discretion, an unreasonable or disproportionately large load on its server infrastructure;
    %p deep-link to any portion of the website for any purpose apart from where expressly permitted by this Agreement;
    %p "frame", "mirror" or otherwise incorporate any part of the website into any other website without AusNet Services’ prior written consent; or
    %p attempt to modify, translate, adapt, edit, decompile, disassemble, or reverse engineer any software programs used by AusNet Services in connection with the website or the Services.
    %p LIMITATION OF LIABILITY
    %p AusNet Services makes no warranties or representations as to the accessibility, security, stability or reliability of the Service.
    %p You agree that AusNet Services are not responsible for any failure by you in the connection of your solar apparatus. AusNet Services role extends to offering an Approval only.
    %p You acknowledge and agree that connection data may be unavailable, not up to date or may have changed from the date that we provide you with Approval. You agree that AusNet Services are not liable for your inability to connect to the AusNet Services network. We will use best endeavours to provide you with alternate connection options.
    %p You acknowledge and agree that AusNet Services are not liable in circumstances where you have inputted any inaccurate or incorrect data into the Application. You may have to disconnect or alter your system if the installation does not meet AusNet Services minimum requirements.
    %p AusNet Services will use reasonable endeavours to ensure that the Service is current, and where there are updates or changes, the Service is updated as quickly as possible. Occasionally, it may take some time for the Service to be updated. AusNet Services will not be responsible and it shall not, in any way, be liable to you for any kind of loss or damage incurred as a result of this delay.
    %p AusNet Services shall not, in any way, be liable to you for any kind of loss or damage incurred as a result of your use of the Service, including but limited to, any viruses your Device may become subject to during your use of the Service.
    %p Subject to your rights arising under the Competition and Consumer Act 2010 (Cth) or other similar consumer legislation, you agree that AusNet Services will not be liable in respect of any claim by you (whether contractual, tortious, statutory or otherwise) for any direct, special, incidental, indirect or consequential damages or injury including, but not limited to, any loss of profits, contracts, revenue or data arising out of or in connection with the provision of the Service whether as a result of any breach or default by AusNet Services, or any negligence of AusNet Services. The maximum liability of AusNet Services under this Agreement for any and all breaches of this Agreement, and any negligence in relation to this Agreement will be $10.00.
    %p If the Competition and Consumer Act 2010 (Cth) (or analogous legislation) applies to this Agreement and permits the limitation of liability for breach of warranty implied by statute, the liability of AusNet Services is limited, at the option of AusNet Services, to the supplying of the services again or the payment of the cost of having the services supplied again.
    %p Any of the terms and conditions of this Agreement which limit or exclude any term, condition or warranty, express or implied, or the liability of AusNet Services will apply to the extent permitted by law and will not be construed as excluding, qualifying or limiting your statutory rights or remedies arising by virtue of the breach of any implied term of this Agreement where such exclusion, qualification or limitation would be prohibited by statute.
    %p INDEMNITY
    %p You agree to indemnify and keep indemnified, AusNet Services, employees and officers against all loss, cost, expense or damage which AusNet Services, its agents, employees or officers suffer or incur, as a direct or indirect result of your breach of this Agreement or any misuse of the Service.
    %p GENERAL
    %p The law of Victoria governs this Agreement. The parties consent to the jurisdiction of the Courts of the State of Victoria and their Courts of Appeal in relation to this Agreement.

  .content-area-1
    %a.button{:href=>"/nmi-meter-email"}
      I've read and agree
    %a.button.tertiary{:href=>"/"}
      go back