%h1.section Please tell us about the system you want to install
.line
.section
  .checkbox
    %input{:type=>"checkbox", :id=>"solar", :checked=>"checked", :class=>"solarQuery"}
    %label{:for=>"solar"} Solar
  .checkbox
    %input{:type=>"checkbox", :id=>"battery", :name=>"", :class=>"batteryQuery"}
    %label{:for=>"battery"} Battery
  .checkbox
    %input{:type=>"checkbox", :id=>"otherPower", :class=>"otherQuery" }
    %label{:for=>"otherPower"} Other, eg wind or hydro-electric

.section.other-content.hider-class
  %h3 What generation type will you be installing?
  .text-input
    %select
      %option Wind
      %option Hydro-electric

.section.solar-content
  %h3 What inverter do you plan to use?
  .text-input
    %form
      %label Solar inverter manufacturer
      %input

      %label Solar inverter model
      %input

      %label Quantity
      %input


.battery-content.hider-class
  %h3.section Please tell us about your battery system
  .section.battery-toggler
    %h3.battery-class.dc-yes DC
    %label{:type=>"checkbox", :id=>"monthly", :name=>"switch", :checked=>"checked", :class=>"toggler"}
      .switch
    %h3.battery-class.ac AC
  .something.hider-class
    %h2 What AC battery do you plan to use?
    %form
      %label Battery manufacturer
      %input
      %label Battery inverter model
      %input
      %label Battery type
      %select
        %option Salt Water
        %option Lithium Ion
        %option Lead Acid
        %option Flow
        %option Other
      %br

.section
  %a.button{:href=>"/"}
    Next