%h1 Please tell us the NMI and Meter Number

%h2 These can be found on a recent electricity bill for the property.

%div
  .spacer
    %input{:type=>"checkbox", :id=>"monthly", :name=>"payment-freq", :value=>"monthly", :checked=>"checked"}
    %label{:for=>"monthly"} Solar
    %br
    %input{:type=>"checkbox",:id=>"fortnightly", :name=>"payment-freq", :value=>"fortnightly"}
    %label{:for=>"fortnightly"} Battery
    %br
    %input{:type=>"checkbox", :id=>"weekly", :name=>"payment-freq", :value=>"weekly"}
    %label{:for=>"weekly"} Other, eg wind or hydro-electric
    %br
    %label What generation type will you be installing?
    %br
    %select
      %option Wind
      %option Hydro-electric
    %br
    %br
    %br

%div
  %h2 What inverter do you plan to use?
  %form
    %label Solar inverter manufacturer
    %br
    %input
    %br
    %br
    %br

    %label Solar inverter model
    %br
    %input
    %p
    %br
    %br

    %label Quantity
    %input
    %p
    %br
    %br

.accordion
  .accordion-header
    Add an inverter...
    .accordion-toggle
%p
  %br
  %br
.child-page
  .child-tiles

    %ul
      %li.expandable-tile.active
        .child-tile.default
          .child-tile-header
            %p Please tell us about your battery system

        .child-content
          %input{:type=>"radio", :id=>"monthly", :name=>"payment-freq", :value=>"monthly", :checked=>"checked"}
          %label{:for=>"monthly"} AC
          %br
          %input{:type=>"radio",:id=>"fortnightly", :name=>"payment-freq", :value=>"fortnightly"}
          %label{:for=>"fortnightly"} DC
          %br
            %h2 What AC battery do you plan to use?
          %form
            %label Battery manufacturer
            %br
            %input
            %br
            %br
            %label Battery inverter model
            %br
            %input
            %p
            %label Battery type
            %br
            %select
              %option Salt Water
              %option Lithium Ion
              %option Uranium
            %br

%a.button{:href=>"/"}
  Next