%h1 Please tell us about the system you want to install
%div
  .checkbox
    %input{:type=>"checkbox", :id=>"solar", :checked=>"checked", :class=>"solarQuery"}
    %label{:for=>"solar"} Solar
  .checkbox
    %input{:type=>"checkbox", :id=>"battery", :name=>"", :class=>"batteryQuery"}
    %label{:for=>"battery"} Battery
  .checkbox
    %input{:type=>"checkbox", :id=>"otherPower", :class=>"otherQuery" }
    %label{:for=>"otherPower"} Other, eg wind or hydro

%h3 Are you planning on installing:
.text-input
  %select
    %option Wind
    %option Hydro


%h3 What solar inverter do you plan to use?
.text-input
  %form
    %label Solar inverter manufacturer
    %input

    %label Solar inverter model
    %input

    %label Quantity
    %input


%h3 Please tell us about your battery system
.toggler-group
  .radio-1 DC
  .toggler
  .radio-2.radio-toggle-alt AC
.radio-content-1.hider-class
  %h3 What AC battery do you plan to use?
  %form
    .text-input
      %label Battery manufacturer
      %input
      %label Battery inverter model
      %input
      %label Battery type
      %select
        %option Salt Water
        %option Lithium Ion
        %option Lead Acid
        %option Flow
        %option Other
      %br

%a.button{:href=>"/export"}
  Next
%a{:href=>"/nmi-meter-email"}
  go back