- content_for :title do
	55 Plus
- content_for :bodyClass do
	Bank Personal 55 child-page

.header-image{:style=>"background-image:url('/images/elderly.png'); background-position: left 65%;"}
	%h1
		55 Plus Account
.product-summary
	%h2 Exclusively for those 55, and over
	%p Looking for the uncomplicated version of everything you need from a bank account, and all in the one place? Look no further than our 55 Plus account.

	.top-cta
		%ul.proof-points
			%li Exclusively for those 55, and over. (Or if you're opening a joint account with someone who is.)
			%li No monthly account-keeping fee*
			%li The freedom to access your account with a free chequebook, or Visa Debit card
		#cta
			%button.red
				Apply Now
				%br
				for a Bank Account

.child-tiles#scrollhere

	%ul
		%li.expandable-tile.active
			.child-tile.default
				.child-tile-header
					%p Features
					.icon-search.icon
			.child-content

				%h2 Ways to Access Your Account
				.product-summary
					%ul.product-features
						%li
							.icon-money.icon
							%a ATMS
						%li
							.icon-exchange.icon
							EFTPOS
						%li
							.icon-file-alt.icon
							BPAY®
						%li
							.icon-credit-card.icon
							%a Visa Debit card
						%li
							.icon-edit.icon
							Free Cheque Book
						%li
							.icon-phone-sign.icon
							Telephone Banking
						%li
							.icon-laptop.icon
							Internet Banking
						%li
							.icon-mobile-phone.icon
							Mobile Banking
						%li
							.icon-building.icon
							%a Branches

				%h5 Passbook Access
				%p By choosing to use a passbook you won't be able to electronically access your day-to-day money.
				%hr
				%h2 Card Options
				%p Choose a Visa Debit card1 and access your own money in more places, like when you’re shopping online or travelling overseas.
				%hr
				%h2 Eligibility
				%p Exclusively for those over 55 (or if you're opening a joint account with someone who is.)

		%li.expandable-tile
			.child-tile.default
				.child-tile-header
					%p Rates and Fees
					.icon-exchange.icon

			.child-content
				%h2 Earning Interest
				%ul.list
					%li Interest is based on the Government deeming rates and is calculated daily, and paid monthly.
					%li Interest is calculated on a ‘stepped’ basis, which means you'll earn interest for the part of your account balance that falls within each range, at the rate applicable to that range.
				%p Did you know? You’ve also got the option to lock any portion of money in your 55+ account for a period of time to earn higher interest with ‘flexiRates’.
				%hr
				%h2 flexiRates
				%table
					%tr
						%th Interest Type
						%th Annual Interest Rate
					%tr
						%td 3 months
						%td 4.23% p.a.
					%tr
						%td 6 months
						%td 4.00% p.a.
					%tr
						%td 12 months#
						%td 3.75% p.a.
					%tr
						%td 5 months special
						%td 4.41% p.a.

				%p Interest Rates are Effective 23 March 2013.
				%p Alternatively, you can choose your own end date, just log onto Internet Banking for today's rates.


				%p Interest is calculated daily on the whole balance of the nominated flexiRate amount and paid at the end of the flexiRate period. flexiRate interest is fixed for the nominated flexiRate period. The maximum flexiRate period is 1 year. An interest adjustment will apply if we allow you to release your flexiRate early.

				%p You can add up to 15 “flexiRates” on your 55+ account, just log into Internet Banking and apply via the “Manage my flexiRates” tab.
				%hr
				%h2 Fees at a Glance

				%table
					%tr
						%td Monthly account keeping fee
						%td None
					%tr
						%td All Suncorp Bank Transaction
						%td Free
					%tr
						%td Using other bank's ATMs
						%td ATM Operator fee2
					%tr
						%td Electronic transfers to other banks
						%td Free
					%tr
						%td Bank cheque purchase
						%td $1.50
.product-summary
	%strong Did you know?
	%span
		You can lock away portions of your money at a higher interest rate with
		%a flexiRates?
.call-to-action

	%ul
		%li#apply
			.icon.icon-chevron-right
			.action-header
				Apply for an Account
			.action-content
				%button.red
					Apply Online

		%li#location
			.icon.icon-phone
			.action-header
				Call Us
				%br
				13 11 75
			.action-content
				%p BSB is 484-799 for all Suncorp Bank branches.

		%li#existing
			.icon.icon-group
			.action-header
				Existing Customers
			.action-content
				%p
					Logon to
					%a
						Internet Banking

.disclaimer
	%p
		%strong Things you should know

	%p 1. To be eligible for a Suncorp Bank Visa Debit card you must be over 16 and a permanent resident of Australia. If not eligible you will receive a Suncorp Bank Transaction card.

	%p 2. Withdrawals and enquiries at other (“non Suncorp Bank”) ATMs will incur the ATM Operator fee by the Financial Institution who owns the ATM. This fee will be charged immediately at the time of the transaction to your account.

	%p Banking Products issued by Suncorp-Metway Ltd (“Suncorp Bank”) ABN 66 010 831 722. Please read the Product Information Document before making any decisions regarding this product. Visit your nearest  branch or call 13 11 75 for more information. Terms and Conditions, fees and charges may apply and are available on request.



