- content_for :title do
	Breadcrumbs
- content_for :bodyClass do
	Bank Personal BigFoot Deeper test-breadcrumbs parent-page
.header-image{:style=>"background-image:url('/images/big-foot.jpg');"}
	%h1
		We Must Go Deeper

.product-summary
	%p We don't know if this monster really exists although there have been claims of sightings and a famous photograph.

