- content_for :title do
	How to Choose a Bank Account
- content_for :bodyClass do
	Bank bank child-page

.header-image{:style=>"background-image:url('/images/argentina2.jpg')"}
	%h1
		Choosing the Right Bank Account

.product-summary
	%span
		%h2 Need a new bank account? Our guide will help you with:
		%ul.proof-points
			%li Choosing the right account
			%li What extras you may be entitled to
			%li Using your money overseas
			%li Switching painlessly to Suncorp Bank.
.product-summary
	%h3 Firstly, there are two main types of Bank Accounts.
	%ul.list
		%li A Transaction account is an account used for everyday spending; for shopping, for paying for things with a card, and for paying bills online.

		%li A Savings account is an account in which your money accrues interest at a higher rate; meaning you’ll earn on whatever you put away to save.

		%li To make purchases using the money in your savings account, simply transfer it to a transaction account.
	%br
	%h2 Next, simply choose the account that best suits you.
.accordion
	.accordion-header
		An everyday spending (or transaction) account
		.accordion-toggle

	.accordion-content
		%p Everyday Basics - An everyday, no-fuss, fee-free transaction account.

		%p Everyday Options - An everyday transaction account that links to a number of high-interest savings accounts.

.accordion
	.accordion-header
		A savings accout
		.accordion-toggle

	.accordion-content
		%h4 One that I can use in conjunction with my spending account

		%ul.list
			%li Everyday Options - An everyday transaction account that links to a number of high-interest savings accounts.

		%h4 A purely online savings account
		%ul.list
			%li eOptions - A high-interest, online savings account with no fees.

.accordion
	.accordion-header
		An account for high balances
		.accordion-toggle

	.accordion-content
		%p Cash Management account - A transaction and savings account in one, with a competitive, tiered interest rate, so the more you save, the more you earn.

.accordion
	.accordion-header
		A term deposit
		.accordion-toggle

	.accordion-content
		%p Our Term Deposits give you guaranteed, secure returns.

		%p Alternatively, with flexiRates, you can lock a portion of your money away in your savings account for a term of your choosing, earning higher interest.
.accordion
	.accordion-header
		Access to my money overseas; for travel
		.accordion-toggle

	.accordion-content
		%h4 With Suncorp Bank, you have a range of options to make managing your money overseas easy.

		%ul.list

			%li Cash Passport - a prepaid debit card matched to the currency of your destination. This card can be used over the counter, and to withindraw cash from over 1 million Visa ATMs worldwide.

			%li Foreign Currency Cash - you can exchange your money into numerous foreign currencies at a Suncorp bank branch prior to your travel.

			%li Visa Debit - link a Visa Debit card to one of your transaction accounts, and you can shop and pay - with your money - anywhere that accepts Visa.

			%li Travellers Cheques - safer than cash, American Express Travellers Cheques mean security. Full refund or replacement if your cheques are lost or stolen.
.accordion
	.accordion-header
		An account for someone under 18
		.accordion-toggle

	.accordion-content
		%h4 Are you under 18, or opening an account for someone who is?
		%ul.list
			%li Get them used to saving with a Suncorp Bank Kids Savings Account
			%li Opportunity to earn bonus interest
			%li Kickstart the saving conversation with the help of our specially designed website, www.suncorpkids.com.au

		%h4 Under 18, but not looking for a Kids account?
		%ul.list
			%li Anyone over the age of 12 can open an Everyday Basics transaction account, as well as an eOptions online savings account.

.accordion
	.accordion-header
		An account for over 55s
		.accordion-toggle

	.accordion-content
		%p 55 Plus account - with this simple transaction account, you not only have the option of attaching it to a savings account, but you'll also enjoy a wealth of bonuses, like free bank-cheques, a Visa Debit card, and flexiRates. A 'passbook' option is also available.

.accordion
	.accordion-header
		Accessing my money with a Visa debit card
		.accordion-toggle

	.accordion-content
		%h4 Access anything a credit-card can, but using your own money.
		%ul.list
			%li Visa Debit Card - Ever wanted to pay for things - like online shopping, paying taxis, or travelling overseas - but didn't want a credit card? Well, Visa Debit card empowers you to make those payments, and straight from your transaction account.
			%li A Visa Debit Card can be added to all Suncorp Bank transaction accounts at no extra cost.

.accordion
	.accordion-header
		What I'll need to apply
		.accordion-toggle

	.accordion-content
		%p It's easier than you think, and detailed in full on our personal identification requirements page.
		%p If you're over 18, you can apply online right now.
		%p Alternatively, you can call us on 13 11 75, or visit your nearest Suncorp Bank branch.
