- content_for :title do
	How to Choose a Bank Account
- content_for :bodyClass do
	Bank Personal Guide child-page
.child-page
	.header-image{:style=>"background-image:url('/images/personal_accounts_Header.jpg');"}
		%h1
			Bank Accounts: A How-to Guide

	.product-summary.top-summary
		%h2 Need a new bank account? Our guide will help you with:
		.top-cta
			%ul.proof-points
				%li
					%span Choosing the right account
				%li
					%span What extras you may be entitled to
				%li
					%span Using your money overseas
				%li
					%span Switching painlessly to Suncorp Bank.
			#cta
				%button.red
					Apply Now
					%br
					for a Bank Account
	%hr
	%h2 Firstly, there are two main types of Bank Accounts.

	%h5 A Transaction account
	%p is an account used for everyday spending; for shopping, for paying for things with a card, and for paying bills online.

	%h5  A Savings account
	%p is an account in which your money accrues interest at a higher rate; meaning you’ll earn on whatever you put away to save.

	%strong To make purchases using the money in your savings account, simply transfer it to a transaction account.

	%hr

	%h2 Which Account is Right for you depends on what you want to do.

	.help-choose
		.small-nav
			Back to All Account Types
		%ul
			%li 
				.prompt I want a simple account for transactions only.
				.product-summary
					%h4 An Account for Spending: Everyday Basics Account

					%p This account is perfect for spending only
					%hr
					%h4 How to access your account
					%p visa debit cards and ATMs


			%li 
				.prompt I want to save money and don't want to spend it.
							
				.product-summary
					%h4 An Account for Savings:  Everyday Savings Account
					%hr
					%h4 An Account for Savings:  EOptions Account
					%hr
					%h4 Term Deposits
					%p Our Term Deposits give you guaranteed, secure returns.

					%p Alternatively, with flexiRates, you can lock a portion of your money away in your savings account for a term of your choosing, earning higher interest.

			%li 
				.prompt I want to save money and spend money.
					
				.product-summary
					%h4 Everyday Options Account
					%p An everyday transaction account that links to a number of high-interest savings accounts.
					%h4 Cash Management Account
					%p A transaction and savings account in one, with a competitive, tiered interest rate, so the more you save, the more you earn.

			%li 
				.prompt I'm over 55 and I want to spend / save money
				.product-summary
					%h4 55 Plus Account
					%p With this simple transaction account, you not only have the option of attaching it to a savings account, but you'll also enjoy a wealth of bonuses, like free bank-cheques, a Visa Debit card, and flexiRates. A 'passbook' option is also available.


			%li 
				.prompt I'm under 18 and I want to save money.
				.product-summary
					%h4 Kids Savings Account
					%p Why is a kids savings account right for me or my kids? Why is the sky blue? Why is the sun so big and hot? Why do whales sing? Why do kids love cinnamon toast crunch?
					%ul.proof-points
						%li Opportunity to earn bonus interest
						%li Kickstart the saving conversation with the help of our specially designed website, www.suncorpkids.com.au
						%li Under 18, but not looking for a Kids account? Anyone over the age of 12 can open an Everyday Basics transaction account, as well as an eOptions online savings account.

	

%hr
	%h2 Ready to Apply?
	%p
		It's easier than you think, and detailed in full on our
		%a personal identification requirements page.

	%p If you're over 18, you can apply online right now.

	%p Alternatively, you can call us on 13 11 75, or visit your nearest Suncorp Bank branch.

	.call-to-action

		%ul
			%li#apply
				.icon.icon-chevron-right
				.action-header
					Apply for an Account
				.action-content
					%button.red
						Apply Online

			%li#location
				.icon.icon-phone
				.action-header
					Call Us
					%br
					13 11 75
				.action-content
					%p BSB is 484-799 for all Suncorp Bank branches.

			%li#existing
				.icon.icon-group
				.action-header
					Existing Customers
				.action-content
					%button.red
						Internet Banking Login

