- content_for :title do
	compare-accounts
- content_for :bodyClass do
	Bank Personal Compare compare-accounts
.header-image{:style=>"background-image:url('/images/home.png')"}
	%h1
		Compare Bank Accounts
		
%table.compare-table
	%tbody
		%tr.table-header
			%th{:style=>"width: 140px;"}
			%th{:style=>"width: 190px;"}
				%a Business Everyday Accounts
			%th{:style=>"width: 190px;"}
				%a Business Premium Accounts
			%th{:style=>"width: 180px;"}
				%a Business Saver Accounts
		%tr
			%td{:style=>"width: 140px;"}
				DESCRIPTION
			%td{:style=>"width: 190px;"}
				Small businesses with low monthly transactions
			%td{:style=>"width: 190px;"}
				Medium to larger businesses with high monthly transactions
			%td{:style=>"width: 180px;"}
				Business customers with excess funds
		%tr
			%td
				INTEREST
			%td
				N/A
			%td
				Competitive tiered interest rate
			%td
				High interest paid on all credit balances
		%tr
			%td
				FEE FREE TRANSACTIONS per month
			%td
				%strong 30
			%td
				%strong 60
			%td
				%strong N/A
		%tr
			%td
				MONTHLY ACCOUNT KEEPING FEES
			%td
				%strong $5
				%br
				%sup (waived when an average monthly balance of $2,000 is maintained)
			%td
				%strong $20
				%br
				%sup (waived if you deposit $50,000 or more into the account each calendar month)
			%td
				%strong Free
		%tr.full-row
			%td
				OTHER FEES
			%td{:colspan=>"3"}
				Fees may apply for other services – please refer to the Product Information Document for full details
		%tr
			%td
				BRANCH WITHDRAWLS
			%td
				%i.icon-ok.hello
			%td
				%i.icon-ok
			%td
				%i.icon-remove
		%tr
			%td
				TELEPHONE BANKING
			%td
				%i.icon-ok
			%td
				%i.icon-ok
			%td
				%i.icon-ok
		%tr
			%td
				INTERNET / MOBILE BANKING
			%td
				%i.icon-ok
			%td
				%i.icon-ok
			%td
				%i.icon-ok
		%tr
			%td
				ATM & EFTPOS
			%td
				%i.icon-ok
			%td
				%i.icon-ok
			%td
				%i.icon-remove
		%tr
			%td
				CHECK BOOK
			%td
				%i.icon-ok
			%td
				%i.icon-ok
			%td
				%i.icon-remove
		%tr
			%td
				AT CALL
			%td
				%i.icon-ok
			%td
				%i.icon-ok
			%td
				%i.icon-ok
		%tr
			%td
				flexiRates**
			%td
				%i.icon-remove
			%td
				%i.icon-remove
			%td
				%i.icon-ok
		%tr
			%td
				BPAY
			%td
				%i.icon-ok
			%td
				%i.icon-ok
			%td
				%i.icon-remove
		%tr.compare-cta
			%td
			%td
				%button.red
					Apply Online
				%br
				%br
				%a.leading-link Learn more
			%td
				%button.red
					Apply Online
				%br
				%br
				%a.leading-link Learn more
			%td
				%button.red
					Apply Online
				%br
				%br
				%a.leading-link Learn more
