- content_for :title do
	compare-loans
- content_for :bodyClass do
	compare-loans
.header-image{:style=>"background-image:url('/images/mancouch.jpg')"}
	%h1
		Compare Home Loans

%table.compare-table
	%tbody
		%tr.table-header
			%th{:style=>"width:119px"}
			%th{:style=>"width:145px"}
				%span Standard Variable
			%th{:style=>"width:145px"}
				%span Back to Basics
			%th{:style=>"width:145px"}
				%span Fixed Rate
			%th{:style=>"width:146px"}
				%span Access Equity

		%tr.sub-header
			%td{:colspan=>"5"}
				%h2 Features
		%tr
			%td{:style=>"width:119px"}
				Interest Type
			%td{:style=>"width:145px"}
				Variable
			%td{:style=>"width:145px"}
				Discounted Variable
			%td{:style=>"width:145px"}
				Fixed for a Period
			%td{:style=>"width:146px"}
				Variable
		%tr
			%td Ability to 'split'
			%td
				%i.icon-ok
			%td
				%i.icon-ok
			%td
				%i.icon-ok
			%td
				%i.icon-ok
		%tr
			%td Redraw facility Cashback
			%td
				%i.icon-ok
			%td
				%i.icon-ok
			%td
				%i.icon-remove
			%td
				%strong N/A
		%tr
			%td Offset facility
			%td
				%i.icon-ok
			%td
				%i.icon-remove
			%td
				%i.icon-remove
			%td
				%i.icon-remove
		%tr
			%td Suncorp Deposit KickStart
			%td
				%i.icon-ok
			%td
				%i.icon-ok
			%td
				%i.icon-ok
			%td
				%i.icon-remove
		%tr
			%td Add Loan facility
			%td
				%i.icon-ok
			%td
				%i.icon-ok
			%td
				%i.icon-remove
			%td
				%i.icon-ok
		%tr.sub-header
			%td{:colspan=>"5"}
				%h2 Repayments
		%tr
			%td Frequency
			%td Weekly, fortnightly or monthly
			%td Weekly, fortnightly or monthly
			%td Weekly, fortnightly or monthly
			%td When it suits you whilst the balance remains below the approved limit
		%tr
			%td Interest Only option
			%td Monthly in arrears
			%td monthly in arrears
			%td monthly in arrears or annually in advance
			%td N/A

		%tr
			%td Ability to make lump sum or extra repayments
			%td
				%i.icon-ok
			%td
				%i.icon-ok
			%td
				%i.icon-ok
			%td
				%i.icon-ok
		%tr.sub-header
			%td{:colspan=>"5"}
				%h2 Fees
		%tr
			%td Loan Establishment Fees
			%td
				%strong $600
			%td
				%strong $600
			%td
				%strong $600
			%td
				%strong $600
		%tr
			%td Account Keeping Fees
			%td
				%strong $10 / month
			%td
				%strong None
			%td
				%strong $10 / month
			%td
				%strong $10 / month


		%tr.compare-cta
			%td
			%td
				%button.red
					Apply Online
				%br
				%br
				%a.leading-link Learn more
			%td
				%button.red
					Apply Online
				%br
				%br
				%a.leading-link Learn more
			%td
				%button.red
					Apply Online
				%br
				%br
				%a.leading-link Learn more
			%td
				%button.red
					Apply Online
				%br
				%br
				%a.leading-link Learn more
