- content_for :title do
	Everyday Options
- content_for :bodyClass do
	Bank Personal Options child-page

.header-image{:style=>"background-image:url('/images/money.png');"}
	%h1
		Everyday Options Account

.product-summary.top-summary
	%h2 For the seamless integration of your spending with your saving -
	.inline-column
		%p Everyday Options is the account that has everything you need.
		%ul.proof-points
			%li Link up to 9, high-interest savings (sub-) accounts
			%li Lock portions of your money away at an even higher interest rate, with flexiRates
	.top-call-to-action
		%button.red
			Apply Now
			%br
			for a Bank Account

.child-tiles#scrollhere

	%ul
		%li.expandable-tile.active
			.child-tile.default
				.child-tile-header
					%p Features
					.icon-search.icon

			.child-content.features.active

				%h2 Ways to Access Your Account
				.product-summary
					%ul.product-features
						%li
							.icon-money.icon
							%a ATMS
						%li
							.icon-exchange.icon
							EFTPOS
						%li
							.icon-file-alt.icon
							BPAY®
						%li
							.icon-credit-card.icon
							%a Visa Debit card
						%li
							.icon-edit.icon
							Free Cheque Book
						%li
							.icon-phone-sign.icon
							Telephone Banking
						%li
							.icon-laptop.icon
							Internet Banking
						%li
							.icon-mobile-phone.icon
							Mobile Banking
						%li
							.icon-building.icon
							%a Branches
				%hr
				%h2 Card Options
				%p
					Choose a
					%a Visa Debit card
					%sup
						%a 1
					and access your own money in more places, like when you’re shopping online or travelling overseas.
				%hr

				%h2 Sub Accounts
				%p Offering a higher standard variable interest rate, your savings sub accounts - and you can have up to 9 - can be opened in conjunction with your Everyday Options transaction account.


		%li.expandable-tile
			.child-tile.default
				.child-tile-header
					%p Rates and Fees
					.icon-exchange.icon

			.child-content.rates
				%h2 Interest Rates

				%p There's interest paid on money in both your everyday and savings "sub-accounts". Interest is calculated daily and paid monthly.

				%h2 Everyday Options
				%table
					%tr
						%th Minimum Balance
						%th Annual Interest Rate
					%tr
						%td $0.01 and over
						%td 0.01% p.a.

				%p Interest is calculated daily and paid half yearly.

				%h2 Everyday Options Sub-Account
				%table
					%tr
						%th Minimum Balance
						%th Annual Interest Rate
					%tr
						%td
							$0.01 and over
							%br
							(excluding flexiRate balances)
						%td 3.25% p.a.

				%p Interest Rates Effective 6 December 2012.
				%p Variable interest rate. Interest is calculated daily. Standard interest is paid monthly.

				%p Plus you’ve got the option to lock any portion of money in your savings “sub” account for a period of time to earn higher interest (called “flexiRates”).

				%h2 Everyday Options Sub-Account flexiRates

				%table
					%tr
						%th Interest Type
						%th Annual Interest Rate
					%tr
						%td 3 months
						%td 4.23% p.a.
					%tr
						%td 6 months
						%td 4.00% p.a.
					%tr
						%td
							12 months#
							%br
							or choose your own end date, log onto Internet Banking for today's rates
						%td 3.75% p.a.
					%tr
						%td 5 months special
						%td 4.41% p.a.
				%p Interest Rates Effective 23 March 2013. Interest is calculated daily on the whole balance of the nominated flexiRate amount and paid at the end of the flexiRate period. flexiRate interest is fixed for the nominated flexiRate period. The maximum flexiRate period is 1 year. An interest adjustment will apply if we allow you to release your flexiRate early.

				%p You can add up to 15 “flexiRates” to each of your savings “sub” accounts, just log into Internet Banking and apply via the “Manage my flexiRates” tab.

				%hr

				%h2 Fees at a Glance

				%table
					%tr
						%td Monthly account keeping fee
						%td $5.00
					%tr
						%td All Suncorp Bank Transaction
						%td Free
					%tr
						%td Using other bank's ATMs
						%td ATM Operator fee2
					%tr
						%td Electronic transfers to other banks
						%td Free
					%tr
						%td Bank cheque purchase
						%td $8.00
				%hr
				%h2 Waiver Eligibility
				%p You’re eligible for an account keeping fee waiver if,

				%ul.list
					%li You’re a full time student (“Full time Student waiver”); or
					%li You’re impaired in some way that restricts you from accessing our banking facilities (“Accessibility waiver”); or
					%li You apply online.
.call-to-action

	%ul
		%li#apply
			.icon.icon-chevron-right
			.action-header
				Apply for an Account
			.action-content
				%button.red
					Apply Online

		%li#location
			.icon.icon-phone
			.action-header
				Call Us
				%br
				13 11 75
			.action-content
				%p BSB is 484-799 for all Suncorp Bank branches.

		%li#existing
			.icon.icon-group
			.action-header
				Existing Customers
			.action-content
				%p
					Logon to
					%a
						Internet Banking

.disclaimer
	%p
		%strong Things you should know

	%p 1. To be eligible for a Suncorp Bank Visa Debit card you must be over 16 and a permanent resident of Australia. If not eligible you will receive a Suncorp Bank Transaction card.

	%p 2. Withdrawals and enquiries at other (“non Suncorp Bank”) ATMs will incur the ATM Operator fee by the Financial Institution who owns the ATM. This fee will be charged immediately at the time of the transaction to your account.

	%p Banking Products issued by Suncorp-Metway Ltd (“Suncorp Bank”) ABN 66 010 831 722. Please read the Product Information Document before making any decisions regarding this product. Visit your nearest  branch or call 13 11 75 for more information. Terms and Conditions, fees and charges may apply and are available on request.


