- content_for :title do
	Bank Accounts
- content_for :bodyClass do
	Bank parent-page

.header-image{:style=>"background-image:url('/images/personal_accounts_Header.jpg');"}
	%h1
		Bank Accounts
.parent-page
	.child-tiles
		%ul
			%li.child-tile.green
				.full-image{:style=>"background-image: url(/images/Personal_bank_accounts_tile.jpg)"}
				%a{:href=>"/bank-accounts/transaction.haml"}
					.caption.pictile
						.child-tile-header
							%h2 Personal Bank Accounts
						.child-tile-content
							%p Looking for better savings, more spending options, or even a bit of both?

			%li.child-tile.dark-green
				.full-image{:style=>"background-image: url(/images/Business_bank_accounts_tile.jpg)"}
				%a
					.caption.pictile
						.child-tile-header
							%h2 Business Bank Accounts
						.child-tile-content
							%p Accounts that give you easy access to your money.


			%li.child-tile.default.dark-green
				%a
					.caption
						.child-tile-header
							%h2 Trust Accounts
						.child-tile-content
							%p Specialised accounts to assist professionals in holding funds for clients.
							.icon.icon-key


			%li.child-tile.default.green
				%a
					.caption
						.child-tile-header
							%h2 Interest Rates
						.child-tile-content
							%p Find out our current interest rates.
							.icon.icon-bar-chart

		.call-to-action
			%ul
				%li#apply
					.icon.icon-user
					.action-header{:style=>"font-size: 22px"}
						Apply for a Personal Account
					.action-content
						%button.red
							Apply Now

				%li#location
					.icon.icon-suitcase
					.action-header{:style=>"font-size: 22px"}
						Apply for a Business Account
					.action-content
						%button.red
							Apply Now

				%li#existing
					.icon.icon-refresh
					.action-header
						Switch to Suncorp Bank
					.action-content
						%button.orange
							Find Out How