- content_for :title do
	Breadcrumbs
- content_for :bodyClass do
	Bank Personal Creatures parent-page
.header-image{:style=>"background-image:url('/images/personal_accounts_Header.jpg');"}
	%h1
		Magical Creatures
.child-tiles
	%ul
		%li.child-tile.default.dark-green
			%a{:href=>"/bank-accounts/big-foot.haml"}
				.caption
					.child-tile-header
						%span
							Big Foot
					.child-tile-content
						%p We don't know if this monster really exists although there have been claims of sightings and a famous photograph.
						.icon.icon-key
		%li.child-tile.default.dark-green
			%a
				.caption
					.child-tile-header
						%span
							Unicorns
					.child-tile-content
						%p Have you seen one? Sometimes they appear in forests at dawn with big wings and a horn.
						.icon.icon-key


		%li.child-tile.default.dark-green
			%a
				.caption
					.child-tile-header
						%span
							Loch Ness Monster
					.child-tile-content
						%p Nessie likes to play tricks on the local fishermen. There also exists a blurry photograph. She also likes long walks on the beach.
						.icon.icon-key


		%li.child-tile.default.green
			%a
				.caption
					.child-tile-header
						%span
							Interest Rates
					.child-tile-content
						%p Sometimes these magical creatures exist in small clusters and are very difficult to find.
						.icon.icon-bar-chart

	.call-to-action
		%ul
			%li#apply
				.icon.icon-user
				.action-header{:style=>"font-size: 22px"}
					Apply for a Personal Account
				.action-content
					%button.red
						Apply Now

			%li#location
				.icon.icon-suitcase
				.action-header{:style=>"font-size: 22px"}
					Apply for a Business Account
				.action-content
					%button.red
						Apply Now

			%li#existing
				.icon.icon-refresh
				.action-header
					Switch to Suncorp Bank
				.action-content
					%button.orange
						Find Out How