- content_for :title do
	Personal Accounts
- content_for :bodyClass do
	Bank Personal parent-page

.header-image{:style=>"background-image:url('/images/personal_accounts_Header.jpg');"}
	%h1
		Personal Bank Accounts

.non-parent
	.child-tiles
		%ul
			%li.child-tile.default.dark-green
				%a{:href=>"/bank-accounts/choose-bank-account-tile"}
					.caption
						.child-tile-header
							%h2 Help Choosing Your Account
						.child-tile-content
							%p Need a new bank account?
							%p Our guide will help you with choosing the right account, using your money overseas, and switching painlessly to Suncorp Bank.
							.icon.icon-question-sign
			%li.child-tile.full-image{:style=>"background-image: url(/images/Transactions_EDB_tile.jpg)"}
				%a{:href=>"/bank-accounts/everyday-basics"}
					.caption
						.child-tile-header
							%h2 Everyday Basics Account
						.child-tile-content
							%p This one's for spending. For drawing out cash. For paying bills. All the normal, everyday stuff.
			%li.child-tile.full-image{:style=>"background-image: url(/images/Transactions_EDO_tile.jpg)"}
				%a{:href=>"/bank-accounts/everyday-options"}
					.caption
						.child-tile-header
							%h2 Everyday Options Account
						.child-tile-content
							%p For the seamless integration of your spending with your saving, Everyday Options is the account that has everything you need.
			%li.child-tile.full-image{:style=>"background-image: url(/images/Transactions_55_plus_tile.jpg)"}
				%a{:href=>"/bank-accounts/55-plus"}
					.caption
						.child-tile-header
							%h2 55 Plus Account
						.child-tile-content
							%p This one's for spending. For drawing out cash. For paying bills. All the normal, everyday stuff.
			%li.child-tile.default.green
				%a{:href=>"http://localhost:3000/bank-accounts/compare-accounts"}
					.caption
						.child-tile-header
							%h2 Compare Accounts
						.child-tile-content
							%p Compare features in both Transactions and Savings Accounts.
							.icon.icon-list-ul

			%li.child-tile.default.dark-green
				%a{:href=>"/bank-accounts/visa-debit"}
					.caption
						.child-tile-header
							%h2 Visa Debit Cards
						.child-tile-content
							%p
								Access your money in more places with a
								%strong
									Visa Debit Card
								automatically linked to your Everyday Basics, Everyday Options, Cash Management, and 55 Plus transaction accounts
							.icon.icon-credit-card
			%li.child-tile.default.dark-green
				%a{:href=>"/bank-accounts/test-breadcrumbs"}
					.caption
						.child-tile-header
							%h2 Magical Creatures
						.child-tile-content
							%p
								Look at all the magical creatures!
							.icon.icon-credit-card


.call-to-action

	%ul
		%li#apply
			.icon.icon-chevron-right
			.action-header
				Apply for an Account
			.action-content
				%button.red
					Apply Online

		%li#location
			.icon.icon-question-sign
			.action-header
				How do I Apply?
			.action-content
				%button.orange
					Learn More

		%li#existing
			.icon.icon-refresh
			.action-header
				Switching to Suncorp
			.action-content
				%button.orange
					Find Out How




