- content_for :title do
	Campaign
- content_for :bodyClass do
	campaign template-1 blank

.hero.half-image
	.hero-img
		%img{:src=>"/images/image-placeholder.png"}
	%h1 
		Header 1 Title of Campaign Goes Here Header 1 Title of Campaign Goes Here 

.product-summary
	%h2 Header 2 Catchy Campaign Phrase Goes Here
	
	%p This is a paragraph description of this campaign's details. This is a paragraph description of this campaign's details. This is a paragraph description of this campaign's details.  This is a paragraph description of this campaign's details. 
	 
	%p  This is a paragraph description of this campaign's details. 
	.top-cta 	
		%ul.proof-points
			%li Proof point about this specific campaign
			%li Medium length descriptive proof point about this specific campaign
			%li Really really long descriptive proof point about this specific campaign Really really long descriptive proof point about this specific campaign
		#cta
			%button.red
				Call to Action
			%button.green
				Call to Action
			
	%h3 Another segment of content called out with a header 3.

.disclaimer
	%p 
		%strong Disclaimer:
	%p Banking products are issued by Suncorp-Metway Ltd ABN 66 010 831 722 (“Suncorp Bank”). Terms, conditions, fees and charges apply. Please read the Product Information Document before making any decisions regarding our products. Contact us for a copy. *The $50 offer is available to new Suncorp Bank Everyday Basics, Everyday Options and 55 Plus (excluding Passbook) accounts opened between Monday 12 August 2013 and Friday 4 October 2013. Offer is not available if you already hold any one or more, eligible Suncorp Bank accounts at the time of this promotion. ^The payment of $50 is applicable when you set up and have deposited to that account a successful external deposit of $2000 or more within 4 weeks of account opening. The $50 payment will be made into eligible, open accounts within 4 weeks of $2000 or greater being deposited into the account. Transfers between Suncorp Bank accounts (eg eOptions to an Everyday Basics account) are not eligible transactions. Offer is limited to the first Eligible Account opened by a customer and is limited to one $50 payment per account. *Fees apply to link the offset facility.  The mortgage offset is only available with the Everyday options account and will only offset a Suncorp Bank loan.  


