- content_for :title do
	Campaign
- content_for :bodyClass do
	campaign template-4

.hero.full-image{:style=>"background-image:url('/images/underpants.png')"}

.content-wrapper
	.inline-column
		%h2 Small business has a new hero. 
		%p Our small business products are coming to the rescue, with big savings of up to $350*.

		%p The Suncorp Bank Business Everyday Account can help get your small business flying high with amazing benefits and super savings. Simply open a Suncorp Bank Business Everyday Account when you sign up for a merchant facility and you’ll save up to $350 in fees and charges*.

		%p Fly in today for great benefits including:
		%ul.proof-points
			%li Free countertop EFTPOS rental for up to 18 months or mobile EFTPOS for 6 months
			%li No establishment fee with a 3 or 4-year contract
			%li Same-day settlement 365 days a year†
			%li Plus, no fees for depositing cash and cheques^.
		%img{:src=>"/images/underpants2.png"}
		%button.orange Learn More
		%button.green Branch Locator

		
	.inline-column
		%h2 For super service and big savings, complete the form and we’ll contact you shortly.
	
		%p You can also call 13 11 75 or fly in to your local branch today.
		%form
			.form-element
				%label Title
				%br
				%input

			.form-element
				%label First Name
				%br
				%input
			
			.form-element
				%label Last Name
				%br
				%input
			.form-element
				%label Email
				%br
				%input
			.form-element
				%label Phone
				%br
				%input
			.form-element
				%label Post Code
				%br
				%input
			.form-element
				%label This is a textarea
				%br
				%textarea

			.form-element
				%label Interested in finding out more
				%br
				%input{:type=>"checkbox", :id=>"1"}
				%label{:class=>"checkbox-label"} Package offer (EFTPOS + Business Transaction Account)
				%br
				%input{:type=>"checkbox"}
				%label{:class=>"checkbox-label"}  Business Transaction Account
				%br
				%input{:type=>"checkbox"}
				%label{:class=>"checkbox-label"}  EFTPOS terminal
				%br
				%input{:type=>"checkbox"}
				%label{:class=>"checkbox-label"}  Other
			%button.red
				Submit
.disclaimer
	%p 
		%strong Disclaimer:
	%p By clicking Submit, I/we acknowledge we confirm that I/we have read Suncorp's Privacy Statement and understand that my/our personal information is collected, used and disclosed in accordance with Suncorp's privacy policy.*
	%p Banking products are issued by Suncorp-Metway Ltd ABN 66 010 831 722 (“Suncorp Bank”). Terms, conditions, fees and charges apply. Please read the Product Information Document before making any decisions regarding our products. Contact us for a copy. *The $50 offer is available to new Suncorp Bank Everyday Basics, Everyday Options and 55 Plus (excluding Passbook) accounts opened between Monday 12 August 2013 and Friday 4 October 2013. Offer is not available if you already hold any one or more, eligible Suncorp Bank accounts at the time of this promotion. ^The payment of $50 is applicable when you set up and have deposited to that account a successful external deposit of $2000 or more within 4 weeks of account opening. The $50 payment will be made into eligible, open accounts within 4 weeks of $2000 or greater being deposited into the account. Transfers between Suncorp Bank accounts (eg eOptions to an Everyday Basics account) are not eligible transactions. Offer is limited to the first Eligible Account opened by a customer and is limited to one $50 payment per account. *Fees apply to link the offset facility.  The mortgage offset is only available with the Everyday options account and will only offset a Suncorp Bank loan.  


