- content_for :title do
	Campaign
- content_for :bodyClass do
	campaign template-2

.hero.full-image{:style=>"background-image:url('/images/50bucks.png')"}
	
	%h1 
		Genuine Peace of Mind and a Great Discount

.content-wrapper.three-column-small
	.inline-column
		%h2 4.83% 
		%p Discount Fixed Rate
	.inline-column
		%h2 6.20% 
		%p Comparison rate
	.inline-column
		%button.red
			Enquire Now
		%button.green
			Branch / ATM Locator
		%button.green
			Find Out More

.product-summary
	%h2 0.15% p.a. discount on our 3 year fixed rate with the Home Package Plus.
 
	%p When the interest rates are low, it’s nice to be able to lock them in. Genuine gives you the peace of mind of a low interest rate fixed for 3 years, as well as the additional benefits that come within the Home Package Plus.
 
 
	%ul.proof-points 
		%li $0 establishment fee on Home and Personal Loans
		%li No ongoing account keeping fees on loans in the package
		%li Platinum Credit Card with rewards and no annual fee1
		%li Discounts on Insurance products2
.content-wrapper.three-column-medium
	.inline-column
		%h2 Header inside columns
		%p This is example of long paragraph of text inside a three column layout. This is example of long paragraph of text inside a three column layout. This is example of long paragraph of text inside a three column layout. 
		%p This is example of long paragraph of text inside a three column layout. This is example of long paragraph of text inside a three column layout. This is example of long paragraph of text inside a three column layout. 
	.inline-column
		%h2 Header inside columns
		%p This is example of long paragraph of text inside a three column layout. This is example of long paragraph of text inside a three column layout. This is example of long paragraph of text inside a three column layout. 
		%p This is example of long paragraph of text inside a three column layout. 
	.inline-column
		%h2 Header inside columns
		%p This is example of long paragraph of text inside a three column layout. This is example of long paragraph of text inside a three column layout. This is example of long paragraph of text inside a three column layout. 
		%p This is example of long paragraph of text inside a three column layout. This is example of long paragraph of text inside a three column layout.
   
.disclaimer
	%p 
		%strong Disclaimer:
	%p Banking products are issued by Suncorp-Metway Ltd ABN 66 010 831 722 (“Suncorp Bank”). Terms, conditions, fees and charges apply. Please read the Product Information Document before making any decisions regarding our products. Contact us for a copy. *The $50 offer is available to new Suncorp Bank Everyday Basics, Everyday Options and 55 Plus (excluding Passbook) accounts opened between Monday 12 August 2013 and Friday 4 October 2013. Offer is not available if you already hold any one or more, eligible Suncorp Bank accounts at the time of this promotion. ^The payment of $50 is applicable when you set up and have deposited to that account a successful external deposit of $2000 or more within 4 weeks of account opening. The $50 payment will be made into eligible, open accounts within 4 weeks of $2000 or greater being deposited into the account. Transfers between Suncorp Bank accounts (eg eOptions to an Everyday Basics account) are not eligible transactions. Offer is limited to the first Eligible Account opened by a customer and is limited to one $50 payment per account. *Fees apply to link the offset facility.  The mortgage offset is only available with the Everyday options account and will only offset a Suncorp Bank loan.  


