- content_for :title do
	Campaign
- content_for :bodyClass do
	campaign template-1

.hero.half-image
	.hero-img
		%img{:src=>"/images/50bucks.jpg"}
	%h1 
		Open an eligible everyday transaction account and get a $50 bonus
		%sup *

.product-summary
	%h2 Our transaction accounts give you access to your money, when and where you want with mobile banking, internet banking, and over 2,200 ATMs.
	
	%p Plus, right now when you open one of our Everyday Options, Everyday Basics or 55+ accounts and deposit your salary^, we’ll give you a $50 bonus to get your savings started.  
	 
	%p What’s more, with your new everyday account you’ll have the option to:
	.top-cta 	
		%ul.proof-points
			%li Link to a high interest savings account to help grow your savings
			%li Establish sub accounts to help you budget and manage your money
			%li Access to a 100% mortgage offset* if you’re looking to pay off your home loan sooner.
		#cta
			%button.red
				Apply Now
			%button.green
				ATM Locator
			
	%h3 Apply online or visit your nearest branch to open an account today.
.disclaimer
	%p 
		%strong Disclaimer:
	%p Banking products are issued by Suncorp-Metway Ltd ABN 66 010 831 722 (“Suncorp Bank”). Terms, conditions, fees and charges apply. Please read the Product Information Document before making any decisions regarding our products. Contact us for a copy. *The $50 offer is available to new Suncorp Bank Everyday Basics, Everyday Options and 55 Plus (excluding Passbook) accounts opened between Monday 12 August 2013 and Friday 4 October 2013. Offer is not available if you already hold any one or more, eligible Suncorp Bank accounts at the time of this promotion. ^The payment of $50 is applicable when you set up and have deposited to that account a successful external deposit of $2000 or more within 4 weeks of account opening. The $50 payment will be made into eligible, open accounts within 4 weeks of $2000 or greater being deposited into the account. Transfers between Suncorp Bank accounts (eg eOptions to an Everyday Basics account) are not eligible transactions. Offer is limited to the first Eligible Account opened by a customer and is limited to one $50 payment per account. *Fees apply to link the offset facility.  The mortgage offset is only available with the Everyday options account and will only offset a Suncorp Bank loan.  


