@import "variables"


// toggles
.toggler
    display: block
    width: 100px
    height: 50px
    background: #e5e5e5
    z-index: 0
    padding: 0
    appearance: none
    -webkit-appearance: none
    -moz-appearance: none
    border: none
    cursor: pointer
    position: relative
    border-radius: 100px

.toggler:before
    content: ''
    position: absolute
    left: 2.5px
    top: 2.5px
    width: 95px
    height: 45px
    background: white
    z-index: 1
    border-radius: 100px

.toggler:after
    content: ''
    width: 44px
    height: 44px
    border-radius: 100px
    z-index: 2
    background-color: white
    position: absolute
    transition-duration: 500ms
    top: 3px
    left: 3px
    box-shadow: 0 2px 5px #999999

.togglerOn, .togglerOn:before
    background-color: #4cd946 !important

.togglerOn:after
    left: 63.5px

.hider-class
    display: none
.battery-toggler
    display: flex
    justify-content: space-between

.battery-class
    font-weight: 300
    text-decoration: none
.dc-yes
    font-weight: 900
    text-decoration: underline
.ac
    text-align: right