@import "variables"

*
  font-family: "Helvetica Neue", Helvetica, SansSerif


h1, h2, h3, h4, p
  line-height: 1
  margin-bottom: 1rem

h2, h3
  font-size: 1.25rem

h1
  font-size: 1.5rem
  font-weight: 900

h2
  font-weight: 800

h3
  font-weight: 400

//Page
.page
  padding: 30px

.content-parent
  display: flex
  flex-direction: column
  align-items: center
.content-area-1, .button-area-1, .title-area
  min-width: 300px
  max-width: 500px
  padding: 30px
  margin: 10px
  border: 1px solid black
  width: 100%
.button-area-1
  align-items: flex-end

.header
  display: block
  padding: 10px 10px 10px 30px
  background-color: $ausnet-blue
  color: white
  a
    background-color: transparent
    color: white
    text-decoration: none
    cursor: pointer

//inputs
.text-input
  input, select
    background-color: white
    border: 1px solid #ccc
    box-sizing: border-box
    font-size: 1em
    margin: 1rem 0
    padding: 1rem
    width: 100%
  select
    height: 3.5rem

// MEDIA QUERIES
@media (max-width: 600px)
  .page
    padding: 0
