*
  font-family: "Helvetica Neue", Helvetica, SansSerif

h1, h2, h3
  letter-spacing: -0.025em

h1
  font-size: 2rem
  font-weight: 900

h2
  font-size: 1.75rem
  font-weight: 800

h3
  font-size: 1.5rem
  font-weight: 900


//Page
.page
  background-color: #ededed
  padding: 1rem

//Section
.section
  margin-bottom: 1rem
  label
    display: block

// header
.header
  display: block
  padding: 1rem
  background-color: #00ACED
  color: white

//inputs
.text-input
  input, select
    border: 1px solid #ccc
    border-radius: 0.5rem
    box-sizing: border-box
    font-size: 1em
    margin: 1rem 0
    padding: 1rem
    width: 100%
  select
    height: 3rem