- content_for :title do
	Campaign
- content_for :bodyClass do
	campaign template-3 blank

.hero
	
	%h1 
		Open an eligible everyday transaction account and get a $50 bonus
		%sup *
	.hero-img
		%img{:src=>"/images/taxtime.jpg"}

.product-summary
	.inline-column
		%h2 Obtaining Interest details
		%p To obtain interest details from any of your accounts, simply logon and select the "My Interest" link. All of your interest details are presented on one easy page.
		%p You can even save the page as a PDF simply by clicking the button.
		%img{:src=>"/images/myinterest3.jpg"}
	.inline-column
		%h2 Downloading transaction History
		%p You can download your transactions in a variety of formats whether it be for accounting purposes or to use in a spreadsheet.
		%p Simple click "Transaction History" and perform a search. You can use the Advanced tab if you need more options and filters.
		%p Once your transactions are displayed, simply click "Download Transactions" and choose your desired format.
		%img{:src=>"/images/download-trans-history.jpg"}
	%br
	%h3 Making an ATO Payment
	%p If you need to make a payment to the ATO, simply go to the BPAY section and choose 'Tax Payment'. Ensure you initiate any tax payments 2-3 days before their due date so the funds arrive on time.

	
.disclaimer
	%p 
		%strong Disclaimer:
	%p Banking products are issued by Suncorp-Metway Ltd ABN 66 010 831 722 (“Suncorp Bank”). Terms, conditions, fees and charges apply. Please read the Product Information Document before making any decisions regarding our products. Contact us for a copy. *The $50 offer is available to new Suncorp Bank Everyday Basics, Everyday Options and 55 Plus (excluding Passbook) accounts opened between Monday 12 August 2013 and Friday 4 October 2013. Offer is not available if you already hold any one or more, eligible Suncorp Bank accounts at the time of this promotion. ^The payment of $50 is applicable when you set up and have deposited to that account a successful external deposit of $2000 or more within 4 weeks of account opening. The $50 payment will be made into eligible, open accounts within 4 weeks of $2000 or greater being deposited into the account. Transfers between Suncorp Bank accounts (eg eOptions to an Everyday Basics account) are not eligible transactions. Offer is limited to the first Eligible Account opened by a customer and is limited to one $50 payment per account. *Fees apply to link the offset facility.  The mortgage offset is only available with the Everyday options account and will only offset a Suncorp Bank loan.  


