%nav.main
	.primary
		%ul
			%a{:href=>"/bank-accounts"}
				%li.selected Bank Accounts
			%a
				%li Savings
			%a
				%li Loans
			%a{:href=>"/home-loans"}
				%li Home Loans
			%a
				%li Credit Cards
			%a
				%li Agribusiness
			%a
				%li Investing
			%a
				%li Foreign Currency
			%a
				%li Financial Services
			%a
				%li About Us

	.secondary
		%ul.Bank
			%a{:href=>"/bank-accounts/transaction"} 
				%li Personal Accounts
			%li Business Accounts
			%li Calculators
			%li Interest Rates
			%li FAQs
			%li Switching

		
	.tertiary
		%ul.Personal
			%a{:href=>"/bank-accounts/choose-bank-account-tile"}
				%li A How To Guide
			%a{:href=>"/bank-accounts/everyday-basics"}
				%li Everyday Basics Account
			%a{:href=>"/bank-accounts/everyday-options"}
				%li Everyday Options
			%a{:href=>"/bank-accounts/55-plus"}
				%li 55 Plus Account
			%a{:href=>"/bank-accounts/compare-accounts"}
				%li Compare All Accounts
			%li Fees: Explained
			%li How to Apply Online
			%a{:href=>"/bank-accounts/visa-debit"}
				%li Visa Debit Cards
			%li Unclaimed Monies
			%a{:href=>"/bank-accounts/test-breadcrumbs"}
				%li Magical Creatures

		.breadcrumbs
			%ul.Magical.selected
				%a{:href=>"/bank-accounts/test-breadcrumbs"}
					%li.third-level Magical Creatures
				%a.fourth-level{:href=>"/bank-accounts/big-foot"}
					%li Big Foot

				%a.fifth-level{:href=>"/bank-accounts/big-foot2"}
					%li We Must Go Deeper


