%footer
	.footer-content
		.content-wrapper
			%ul#footer-contact
				%li
					%a Contact Us 
				%li
					.icon-phone 
					13 11 75 
				%li BSB: 484-799
				%li.channel
					%a Documents
				%li.channel
					%a Careers

			%ul
				%li.channel
					%a Sitemap
				%li.channel 
					%a Suncorp Group 
				%li.channel 
					%a Insurance
				%li.channel 
					%a Super 

		
			%ul#legal
				%li 
					%a Online Terms & Privacy Statement 
				%li 
					%a Legal information 
				%li 
					%a Privacy Policy
				%li  
					%a Security 
				%li
					%a Accessibility
		.social-wrapper
			#social-icons
				.icon-facebook-sign
				.icon-twitter

			#feedback-form.overlay-trigger
				Feedback


	#extra-info 
		%p#copyright 
			© Copyright Suncorp-Metway Ltd ABN 66 010 831 722 Australian Credit Licence 229882.
		%br	
		%p Products and services including banking, superannuation and insurance (including life insurance, home and car insurance) are provided by separate companies in the Suncorp Group. Suncorp Bank (Suncorp-Metway Ltd ABN 66 010 831 722) is only liable for the banking products or services it provides and not the products and services of the other companies in the Suncorp Group.