%footer
	.footer-content
		.content-wrapper
			%ul#footer-contact
				%li
					%a Contact Us 
				%li
					.icon-phone 
					TELEPHONE NUMBER
				%li BSB: XXX-XXX
				-#%li.channel
					-#%a Documents
				-#%li.channel
					-#%a Careers

		
			%ul#legal
				%li Online Terms & Privacy Statement
				%li Legal information
				%li Privacy Policy
				%li Security
				%li Accessibility

	#extra-info 
		%p#copyright 
			© Copyright AusNet Services Ltd ABN XXX XXX XXX XXX.