%nav.main
	.primary
		-#%ul
		-#	%a.bank{:href=>"/bank-accounts"}
		-#		%li Bank Accounts
		-#	%a
		-#		%li Savings
		-#	%a
		-#		%li Loans
		-#	%a{:href=>"/home-loans"}
		-#		%li Home Loans
		-#	%a
		-#		%li Credit Cards
		-#	%a
		-#		%li Agribusiness
		-#	%a
		-#		%li Investing
		-#	%a
		-#		%li Foreign Currency
		-#	%a
		-#		%li Financial Services
		-#	%a
		-#		%li About Us

