.sidebar

	.sidebar-content#primary

		#logon
			.header
				%span
					.icon-lock
					%span#header-text Login
			.details.callout
				%button.orange
					%span#header-text
						Internet Banking Login
				#security
					> Register >Online Security
				%ul.dropdown
					%li 
						%span#header-text
							Other Login Options
					%li Share Trade
					%li Margin Lending
					%li Superannuation
					%li Working Capital
					%li Trade Finance


			.details.bordered

				#contact
					.icon-phone
					%span#header-text Call Us 13 11 75

			.details.rightside

				#feedback
					.icon-hand-right
					%span#header-text Give feedback on this site

			#atm
				.icon-map-marker
				%span#header-text Find Nearest ATM/Branch

	.sidebar-content#secondary
		#expert-content
			.header
				%span
					This Is An Example Of Expert Content.
					
			.details

				%p For SEO purposes, Learn More on our tiles are :after pseudoclass content. This way we don't directly link the words "Learn More".
			

	.sidebar-content#secondary


		#helpLinks
			.header
				%span
					.icon-star
					%span#header-text Helpful Links
			.details
				%ul
					%li
						%i.icon-bar-chart
						%a
							Interest Rate

					%li
						%i.icon-umbrella
						%a
							Foreign Exchange Rate

					%li
						%i.icon-money
						%a
							Tools and Calculators

					%li
						%i.icon-wrench
						%a
							Are you experiencing financial difficulty?

	.sidebar-content#secondary

		
		#faqs
			.header
				%span
					.icon-question-sign
					#header-text FAQs
			.details
				%ul
					%li
						%a Are there any fees associated with Internet Banking?

					%li
						%a Can you tell me what my Internet Banking Password is if I forget it?
					%li
						%a Lets throw a mate's rate no worries as cross as a chokkie.
					%li
						%a Cash management interest rates
					%li
						%a I was charged $20.00 for a Late Payment/Overlimit fee, but I am ...

					%li
						%a.leading-link More FAQs

	#user-options

		%div
			%a
				.icon-envelope-alt
				Email This Page
		%div
			%a
				.icon-print
				Print

