%table.summary-table
  %tr
    %th Phase
    %th Total Capacity
    %th Total Export
  %tr.phase-summary.phase-row
    %td A
    %td 1.5kW
    %td 1kW
  %tr
    %td
    %td 2.5kW available
    %td 1.5kW available
  %tr.phase-summary.phase-row.data-red
    %td B
    %td 1kW
    %td 1kW
  %tr.data-red
    %td
    %td 0.5kW available
    %td 0.5kW available
  %tr.phase-summary.phase-row
    %td Total
    %td 2.5kW
    %td 2kW
