
.banner-wrapper
  .homebanner
    .message
      %h1
        Suncorp Bank is big on the things that count.
      %h2
        The personal and business banking alternative.
        %br
        %a
          Learn More
  .sidebar#big-login
    .sidebar-content

      #logon
        .header
          %span
            .icon-lock
            Login Hello
        .details.callout
          %button.orange
            Internet Banking Login
          #security
            > Register >Online Security
          %ul.dropdown
            %li Other Login Options
            %li Share Trade
            %li Margin Lending
            %li Superannuation
            %li Working Capital
            %li Trade Finance

        .details#hide
          #contact
            .icon-phone
            Call Us 13 11 75 55

        #atm
          .icon-map-marker
          Find an ATM or Branch

    .sidebar-content

      #helpLinks

        .details


          %ul

            %li#interest

              %a
                Interest Rate

            %li#exchange

              %a
                Foreign Exchange Rates

            %li#tools

              %a
                Tools and Calculators
            %li#business

              %a
                Business Banking Hub

            %li#financial

              %a
                Are you experiencing
                financial difficulty?


.homepage-content-section
  .child-tiles
		-# .wrapper.large
		-# 	%h3 SPECIAL OFFERS
		-# 	.rotator.full-bleed
		-# 		.campaign-text
		-# 			%h2 that's a conversation worth having
		-# 			%p Talk to us about how to move your things to other things.
		-# 			%button.red click this thing
		-# 		.arrow-left
		-# 			.icon-chevron-left
		-# 		.arrow-right
		-# 			.icon-chevron-right
    .wrapper.large
      %h3 SPECIAL OFFERS
      .rotator.half-bleed.right-align
        .campaign-text
          %h2 that's a conversation worth having
          %p Talk to us about how to move your things to other things
          %button.red click this thing
        .campaign-image{:style=>"background-image: url(/images/happy_family.png);"}
        .arrow-left
          .icon-chevron-left
        .arrow-right
          .icon-chevron-right

		-# .wrapper.large
		-# 	%h3 SPECIAL OFFERS
		-# 	.rotator.half-bleed
		-# 		.campaign-image{:style=>"background-image: url(/images/happy_family.png);"}
		-# 		.campaign-text
		-# 			%h2 that's a conversation worth having
		-# 			%p Talk to us about how to move your things to other things
		-# 			%button.red click this thing
		-# 		.arrow-left
		-# 			.icon-chevron-left
		-# 		.arrow-right
		-# 			.icon-chevron-right

		-# TRANSPARENT FEATURE IMAGES
		-# .wrapper.large
		-# 	%h3 SPECIAL OFFERS
		-# 	.rotator.trans-png.right-align
		-# 		.campaign-text
		-# 			%h2 that's a conversation worth having
		-# 			%p Talk to us about how to move your things to other things
		-# 			%button.red click this thing
		-# 		.campaign-image{:style=>"background-image: url(/images/campaign-1.png);"}
		-# 		.arrow-left
		-# 			.icon-chevron-left
		-# 		.arrow-right
		-# 			.icon-chevron-right

		-# .wrapper.large
		-# 	%h3 SPECIAL OFFERS
		-# 	.rotator.trans-png
		-# 		.campaign-image{:style=>"background-image: url(/images/campaign-1.png);"}
		-# 		.campaign-text
		-# 			%h2 that's a conversation worth having
		-# 			%p Talk to us about how to move your things to other things
		-# 			%button.red click this thing
		-# 		.arrow-left
		-# 			.icon-chevron-left
		-# 		.arrow-right
		-# 			.icon-chevron-right

    .wrapper
      %h3 SPONSORSHIPS
      .child-tile.full-image{:style=>"background-image: url(/images/homepage6_a.png); background-position: center center"}
        .campaign-text
          %h2 Run the Marathon
          %p We're sponsoring the Sydney Marathon
          %button.red Support Us!


    .wrapper.parent-page
      %h3 LATEST NEWS
      .child-tile.default.green.news
        .caption
          .child-tile-content
            %ul
              %li
                %a Suncorp domestic debt deal
              %li
                %a Tips for Trips
              %li
                %a How Financially Savvy are...
              %li
                %a The Cost of Being Green is ...
              %li
                %a Look we can fit one more line ...


            .icon-file-alt.icon


.homepage-content-section.seo-links
  .wrapper
    %h3 SWEET PRODUCTS
    %ul
      %li
        %a{:href=>"/bank-accounts/index"}
          .thumb{:style=>"background-image: url('/images/savings.png')"}
          .wrap
            %h4 Savings Accounts
            %p Suncorp has high interest rates. Take a look!


      %li
        %a{:href=>"/bank-accounts/everyday-basics"}
          .thumb{:style=>"background-image: url('/images/50bucks.png')"}
          .wrap
            %h4 Term Deposits
            %p Personal or Business, we help you get returns on your investment.

      %li
        %a{:href=>"/bank-accounts/everyday-basics"}
          .thumb{:style=>"background-image: url('/images/Integrated_parent.jpg')"}
          .wrap
            %h4 Merchant Services
            %p Latest hardware and software to support your business.

      %li
        %a{:href=>"/bank-accounts/index"}
          .thumb{:style=>"background-image: url('/images/savings.png')"}
          .wrap
            %h4 Savings Accounts
            %p Suncorp has high interest rates. Take a look!


			/ %li
			/ 	.thumb{:style=>"background-image: url('/images/50bucks.png')"}
			/ 	.wrap
			/ 		%h4 Term Deposits
			/ 		%p Personal or Business, we help you get returns on your investment


%header
  %a.logo{:href=>"/"}

  .channel-bar
    %ul.left
      %li
        %a Suncorp
      %li
        %a Insurance
      %li.selected
        %a Banking
      %li
        %a Super
    %ul.right
      %li
        %a Careers
      %li
        %a Contact Us
      %li
        %a Documents
      %li
        %a{:href=>"/styleguide"} Styleguide
.responsive-menu
  .nav-mobile.icon-reorder
  %a.mobile-logo{:href=>"/"}
  .search-mobile.icon-search
  .sidebar-mobile.icon-user

.search
  %input{:type=>"text", :placeholder=>"Search this site"}