/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 18, ../../stylesheets/partials/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../../stylesheets/partials/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 30, ../../stylesheets/partials/_reset.scss */
body {
  line-height: 1;
}

/* line 33, ../../stylesheets/partials/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 36, ../../stylesheets/partials/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../../stylesheets/partials/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 44, ../../stylesheets/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* BOOTSTRAP SPECIFIC CLASSES
 * -------------------------- */
/* Bootstrap 2.0 sprites.less reset */
/* line 6, ../../stylesheets/partials/_bootstrap.scss */
[class^="icon-"],
[class*=" icon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
}

/* more sprites.less reset */
/* line 31, ../../stylesheets/partials/_bootstrap.scss */
.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"] {
  background-image: none;
}

/* keeps Bootstrap styles with and without icons the same */
/* line 41, ../../stylesheets/partials/_bootstrap.scss */
.btn [class^="icon-"].icon-large,
.btn [class*=" icon-"].icon-large, .nav [class^="icon-"].icon-large,
.nav [class*=" icon-"].icon-large {
  line-height: .9em;
}
/* line 42, ../../stylesheets/partials/_bootstrap.scss */
.btn [class^="icon-"].icon-spin,
.btn [class*=" icon-"].icon-spin, .nav [class^="icon-"].icon-spin,
.nav [class*=" icon-"].icon-spin {
  display: inline-block;
}

/* line 48, ../../stylesheets/partials/_bootstrap.scss */
.nav-tabs [class^="icon-"], .nav-tabs [class^="icon-"].icon-large,
.nav-tabs [class*=" icon-"],
.nav-tabs [class*=" icon-"].icon-large, .nav-pills [class^="icon-"], .nav-pills [class^="icon-"].icon-large,
.nav-pills [class*=" icon-"],
.nav-pills [class*=" icon-"].icon-large {
  line-height: .9em;
}

/* line 55, ../../stylesheets/partials/_bootstrap.scss */
.btn [class^="icon-"].pull-left.icon-2x, .btn [class^="icon-"].pull-right.icon-2x,
.btn [class*=" icon-"].pull-left.icon-2x,
.btn [class*=" icon-"].pull-right.icon-2x {
  margin-top: .18em;
}
/* line 57, ../../stylesheets/partials/_bootstrap.scss */
.btn [class^="icon-"].icon-spin.icon-large,
.btn [class*=" icon-"].icon-spin.icon-large {
  line-height: .8em;
}

/* line 64, ../../stylesheets/partials/_bootstrap.scss */
.btn.btn-small [class^="icon-"].pull-left.icon-2x, .btn.btn-small [class^="icon-"].pull-right.icon-2x,
.btn.btn-small [class*=" icon-"].pull-left.icon-2x,
.btn.btn-small [class*=" icon-"].pull-right.icon-2x {
  margin-top: .25em;
}

/* line 70, ../../stylesheets/partials/_bootstrap.scss */
.btn.btn-large [class^="icon-"],
.btn.btn-large [class*=" icon-"] {
  margin-top: 0;
}
/* line 73, ../../stylesheets/partials/_bootstrap.scss */
.btn.btn-large [class^="icon-"].pull-left.icon-2x, .btn.btn-large [class^="icon-"].pull-right.icon-2x,
.btn.btn-large [class*=" icon-"].pull-left.icon-2x,
.btn.btn-large [class*=" icon-"].pull-right.icon-2x {
  margin-top: .05em;
}
/* line 75, ../../stylesheets/partials/_bootstrap.scss */
.btn.btn-large [class^="icon-"].pull-left.icon-2x,
.btn.btn-large [class*=" icon-"].pull-left.icon-2x {
  margin-right: .2em;
}
/* line 76, ../../stylesheets/partials/_bootstrap.scss */
.btn.btn-large [class^="icon-"].pull-right.icon-2x,
.btn.btn-large [class*=" icon-"].pull-right.icon-2x {
  margin-left: .2em;
}

/* Fixes alignment in nav lists */
/* line 82, ../../stylesheets/partials/_bootstrap.scss */
.nav-list [class^="icon-"],
.nav-list [class*=" icon-"] {
  line-height: inherit;
}

/* line 3, ../../stylesheets/partials/_setout.sass */
* {
  font-family: "Helvetica Neue", Helvetica, SansSerif;
}

/* line 6, ../../stylesheets/partials/_setout.sass */
html {
  background-color: #ededed;
}

/* line 9, ../../stylesheets/partials/_setout.sass */
h1, h2, h3, h4, p {
  line-height: 1.2;
}

/* line 12, ../../stylesheets/partials/_setout.sass */
h1, h2, h3 {
  margin-bottom: 1rem;
}

/* line 15, ../../stylesheets/partials/_setout.sass */
h2, h3 {
  font-size: 1.25rem;
}

/* line 18, ../../stylesheets/partials/_setout.sass */
h1 {
  font-size: 1.5rem;
  font-weight: 900;
}

/* line 22, ../../stylesheets/partials/_setout.sass */
h2 {
  font-weight: 800;
}

/* line 25, ../../stylesheets/partials/_setout.sass */
h3 {
  font-weight: 400;
}

/* line 28, ../../stylesheets/partials/_setout.sass */
p {
  margin-top: 1.2em;
}

/* line 32, ../../stylesheets/partials/_setout.sass */
.page {
  padding: 30px;
}

/* line 41, ../../stylesheets/partials/_setout.sass */
.button-area-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media (max-width: 550px) {
  /* line 47, ../../stylesheets/partials/_setout.sass */
  .content-parent {
    display: block;
  }
}
@media (min-width: 550px) {
  /* line 50, ../../stylesheets/partials/_setout.sass */
  .content-area-1 {
    margin-right: 30px;
  }
}
/* line 54, ../../stylesheets/partials/_setout.sass */
.header {
  display: block;
  padding: 10px 10px 10px 30px;
  background-color: #28317d;
  color: white;
}
/* line 59, ../../stylesheets/partials/_setout.sass */
.header a {
  background-color: transparent;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

/* line 67, ../../stylesheets/partials/_setout.sass */
.text-input input, .text-input select {
  background-color: white;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  font-size: 1em;
  margin: 1rem 0;
  padding: 1rem;
  width: 100%;
}
/* line 75, ../../stylesheets/partials/_setout.sass */
.text-input select {
  height: 3.5rem;
}

/* line 4, ../../stylesheets/partials/_components.sass */
a {
  text-decoration: none;
}

/* line 6, ../../stylesheets/partials/_components.sass */
.button {
  background-color: #28317d;
  color: white;
  display: block;
  font-size: 1.25rem;
  font-weight: 500;
  margin: 1rem 0 0 0;
  padding: 1rem;
  text-align: center;
}

/* line 15, ../../stylesheets/partials/_components.sass */
.secondary {
  background-color: #e0e0e0;
  font-weight: 400;
  color: black;
}

/* line 19, ../../stylesheets/partials/_components.sass */
.tertiary {
  background-color: whitesmoke;
  color: black;
  font-size: 0.75rem;
  font-weight: normal;
}

/* line 25, ../../stylesheets/partials/_components.sass */
.option-buttons {
  display: flex;
}
/* line 27, ../../stylesheets/partials/_components.sass */
.option-buttons a.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  flex: 1;
}
/* line 33, ../../stylesheets/partials/_components.sass */
.option-buttons a.button:first-child {
  background-color: transparent;
  border: 2px solid #28317d;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  color: black;
}
/* line 39, ../../stylesheets/partials/_components.sass */
.option-buttons a.button:last-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

/* line 43, ../../stylesheets/partials/_components.sass */
a.spacer {
  display: block;
  text-align: center;
}

/* line 48, ../../stylesheets/partials/_components.sass */
.checkbox {
  display: flex;
  margin: 1rem 0;
}
/* line 51, ../../stylesheets/partials/_components.sass */
.checkbox input {
  margin-right: 1rem;
}

/* line 55, ../../stylesheets/partials/_components.sass */
.line {
  width: 50%;
  margin-bottom: 1rem;
  border-bottom: 0.3rem solid black;
}

/* line 61, ../../stylesheets/partials/_components.sass */
li {
  margin: 1rem 0 1rem 1rem;
  list-style: disc;
}

/* line 66, ../../stylesheets/partials/_components.sass */
.dialer {
  display: flex;
  justify-content: center;
}
/* line 69, ../../stylesheets/partials/_components.sass */
.dialer img {
  width: 200px;
  height: 200px;
}

/* line 74, ../../stylesheets/partials/_components.sass */
input.knob {
  font-size: 3rem;
  font-weight: 900;
  color: black;
}

/* line 80, ../../stylesheets/partials/_components.sass */
.detail-text {
  color: #4c4c4c;
}

/* line 6, ../../stylesheets/partials/_ausnet.sass */
.toggler-group, .add-inverter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

/* line 12, ../../stylesheets/partials/_ausnet.sass */
.toggler1, .toggler2 {
  display: block;
  width: 100px;
  height: 50px;
  background: #e5e5e5;
  z-index: 0;
  padding: 0;
  appearance: none;
  border: none;
  cursor: pointer;
  position: relative;
  border-radius: 100px;
}

/* line 25, ../../stylesheets/partials/_ausnet.sass */
.toggler1:before, .toggler2:before {
  content: "";
  position: absolute;
  left: 2.5px;
  top: 2.5px;
  width: 95px;
  height: 45px;
  background-color: #4cd946 !important;
  z-index: 1;
  border-radius: 100px;
}

/* line 36, ../../stylesheets/partials/_ausnet.sass */
.toggler1:after, .toggler2:after {
  background: white;
  content: "";
  width: 44px;
  height: 44px;
  border-radius: 100px;
  z-index: 2;
  position: absolute;
  transition-duration: 500ms;
  top: 3px;
  left: 3px;
  box-shadow: 0 2px 5px #999999;
}

/* line 49, ../../stylesheets/partials/_ausnet.sass */
.togglerOn, .togglerOn:before {
  background-color: white !important;
}

/* line 51, ../../stylesheets/partials/_ausnet.sass */
.togglerOn:after {
  left: 63.5px;
}

/* line 54, ../../stylesheets/partials/_ausnet.sass */
.hider-class, .hidden {
  display: none;
}

/* line 56, ../../stylesheets/partials/_ausnet.sass */
.show-class {
  display: block;
}

/* line 59, ../../stylesheets/partials/_ausnet.sass */
.radio-1, .radio-2, .radio-3, .radio-4 {
  font-size: 1.5rem;
  font-weight: 900;
  text-transform: uppercase;
  padding: 1rem 0;
  border-bottom: 0.2rem solid black;
}

/* line 65, ../../stylesheets/partials/_ausnet.sass */
.radio-2, .radio-4 {
  text-align: right;
}

/* line 67, ../../stylesheets/partials/_ausnet.sass */
.radio-toggle-alt {
  font-weight: 300;
  text-decoration: none;
  border-bottom: none;
}

/* line 72, ../../stylesheets/partials/_ausnet.sass */
.linkContent1, .linkContent2 {
  display: none;
}

/* line 75, ../../stylesheets/partials/_ausnet.sass */
.plus-button {
  align-items: center;
  background-color: #28317d;
  border-radius: 3rem;
  color: white;
  display: flex;
  font-size: 3rem;
  font-weight: 900;
  height: 3rem;
  justify-content: center;
  width: 3rem;
  position: relative;
}

/* line 87, ../../stylesheets/partials/_ausnet.sass */
.plus {
  top: -0.3rem;
  position: absolute;
}

/* line 91, ../../stylesheets/partials/_ausnet.sass */
.testClass {
  background-color: red;
}
