/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 18, ../../stylesheets/partials/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../../stylesheets/partials/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 30, ../../stylesheets/partials/_reset.scss */
body {
  line-height: 1;
}

/* line 33, ../../stylesheets/partials/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 36, ../../stylesheets/partials/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../../stylesheets/partials/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 44, ../../stylesheets/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* BOOTSTRAP SPECIFIC CLASSES
 * -------------------------- */
/* Bootstrap 2.0 sprites.less reset */
/* line 6, ../../stylesheets/partials/_bootstrap.scss */
[class^="icon-"],
[class*=" icon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
}

/* more sprites.less reset */
/* line 31, ../../stylesheets/partials/_bootstrap.scss */
.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"] {
  background-image: none;
}

/* keeps Bootstrap styles with and without icons the same */
/* line 41, ../../stylesheets/partials/_bootstrap.scss */
.btn [class^="icon-"].icon-large,
.btn [class*=" icon-"].icon-large, .nav [class^="icon-"].icon-large,
.nav [class*=" icon-"].icon-large {
  line-height: .9em;
}
/* line 42, ../../stylesheets/partials/_bootstrap.scss */
.btn [class^="icon-"].icon-spin,
.btn [class*=" icon-"].icon-spin, .nav [class^="icon-"].icon-spin,
.nav [class*=" icon-"].icon-spin {
  display: inline-block;
}

/* line 48, ../../stylesheets/partials/_bootstrap.scss */
.nav-tabs [class^="icon-"], .nav-tabs [class^="icon-"].icon-large,
.nav-tabs [class*=" icon-"],
.nav-tabs [class*=" icon-"].icon-large, .nav-pills [class^="icon-"], .nav-pills [class^="icon-"].icon-large,
.nav-pills [class*=" icon-"],
.nav-pills [class*=" icon-"].icon-large {
  line-height: .9em;
}

/* line 55, ../../stylesheets/partials/_bootstrap.scss */
.btn [class^="icon-"].pull-left.icon-2x, .btn [class^="icon-"].pull-right.icon-2x,
.btn [class*=" icon-"].pull-left.icon-2x,
.btn [class*=" icon-"].pull-right.icon-2x {
  margin-top: .18em;
}
/* line 57, ../../stylesheets/partials/_bootstrap.scss */
.btn [class^="icon-"].icon-spin.icon-large,
.btn [class*=" icon-"].icon-spin.icon-large {
  line-height: .8em;
}

/* line 64, ../../stylesheets/partials/_bootstrap.scss */
.btn.btn-small [class^="icon-"].pull-left.icon-2x, .btn.btn-small [class^="icon-"].pull-right.icon-2x,
.btn.btn-small [class*=" icon-"].pull-left.icon-2x,
.btn.btn-small [class*=" icon-"].pull-right.icon-2x {
  margin-top: .25em;
}

/* line 70, ../../stylesheets/partials/_bootstrap.scss */
.btn.btn-large [class^="icon-"],
.btn.btn-large [class*=" icon-"] {
  margin-top: 0;
}
/* line 73, ../../stylesheets/partials/_bootstrap.scss */
.btn.btn-large [class^="icon-"].pull-left.icon-2x, .btn.btn-large [class^="icon-"].pull-right.icon-2x,
.btn.btn-large [class*=" icon-"].pull-left.icon-2x,
.btn.btn-large [class*=" icon-"].pull-right.icon-2x {
  margin-top: .05em;
}
/* line 75, ../../stylesheets/partials/_bootstrap.scss */
.btn.btn-large [class^="icon-"].pull-left.icon-2x,
.btn.btn-large [class*=" icon-"].pull-left.icon-2x {
  margin-right: .2em;
}
/* line 76, ../../stylesheets/partials/_bootstrap.scss */
.btn.btn-large [class^="icon-"].pull-right.icon-2x,
.btn.btn-large [class*=" icon-"].pull-right.icon-2x {
  margin-left: .2em;
}

/* Fixes alignment in nav lists */
/* line 82, ../../stylesheets/partials/_bootstrap.scss */
.nav-list [class^="icon-"],
.nav-list [class*=" icon-"] {
  line-height: inherit;
}

/* line 3, ../../stylesheets/partials/_setout.sass */
* {
  font-family: "Helvetica Neue", Helvetica, SansSerif;
  background-color: #ededed;
}

/* line 7, ../../stylesheets/partials/_setout.sass */
h1, h2, h3, h4, p {
  line-height: 1.2;
}

/* line 10, ../../stylesheets/partials/_setout.sass */
h1 {
  font-size: 1.5rem;
  font-weight: 900;
}

/* line 14, ../../stylesheets/partials/_setout.sass */
h2 {
  font-size: 1.25rem;
  font-weight: 800;
}

/* line 18, ../../stylesheets/partials/_setout.sass */
h3 {
  font-size: 1.25rem;
  font-weight: 400;
}

/* line 22, ../../stylesheets/partials/_setout.sass */
p {
  margin-top: 1.2em;
}

/* line 26, ../../stylesheets/partials/_setout.sass */
.page {
  padding: 2rem;
}

/* line 30, ../../stylesheets/partials/_setout.sass */
.section {
  margin-bottom: 1rem;
}
/* line 32, ../../stylesheets/partials/_setout.sass */
.section label {
  display: block;
}

/* line 34, ../../stylesheets/partials/_setout.sass */
.spacer {
  margin-bottom: 1.5rem;
}

/* line 38, ../../stylesheets/partials/_setout.sass */
.header {
  display: block;
  padding: 1rem 1rem 1rem 2rem;
  background-color: #28317d;
  color: white;
}

/* line 46, ../../stylesheets/partials/_setout.sass */
.text-input input, .text-input select {
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 0.5rem;
  box-sizing: border-box;
  font-size: 1em;
  margin: 1rem 0;
  padding: 1rem;
  width: 100%;
}
/* line 55, ../../stylesheets/partials/_setout.sass */
.text-input select {
  height: 3.5rem;
}

/* line 4, ../../stylesheets/partials/_components.sass */
a {
  text-decoration: none;
}

/* line 6, ../../stylesheets/partials/_components.sass */
.button {
  background-color: #28317d;
  border-radius: 90rem;
  color: white;
  display: block;
  font-size: 1.5rem;
  font-weight: 900;
  margin: 1rem 0;
  padding: 1rem;
  text-align: center;
}

/* line 16, ../../stylesheets/partials/_components.sass */
.secondary {
  background-color: #cccccc;
  font-weight: 300;
  color: black;
}

/* line 21, ../../stylesheets/partials/_components.sass */
.option-buttons {
  display: flex;
}
/* line 23, ../../stylesheets/partials/_components.sass */
.option-buttons a.button {
  flex: 1;
}

/* line 27, ../../stylesheets/partials/_components.sass */
.checkbox {
  display: flex;
  margin: 1rem 0;
}
/* line 30, ../../stylesheets/partials/_components.sass */
.checkbox input {
  margin-right: 1rem;
}

/* line 34, ../../stylesheets/partials/_components.sass */
.line {
  width: 50%;
  margin-bottom: 1rem;
  border-bottom: 0.3rem solid black;
}

/* line 40, ../../stylesheets/partials/_components.sass */
li {
  margin: 1rem 0 1rem 1rem;
  list-style: disc;
}

/* line 45, ../../stylesheets/partials/_components.sass */
.dialer {
  display: flex;
  justify-content: center;
}

/* line 50, ../../stylesheets/partials/_components.sass */
input.knob {
  font-size: 3rem;
  font-weight: 900;
  color: black;
}

/* line 56, ../../stylesheets/partials/_components.sass */
.detail-text {
  color: #4c4c4c;
}

/* line 5, ../../stylesheets/partials/_ausnet.sass */
.toggler {
  display: block;
  width: 100px;
  height: 50px;
  background: #e5e5e5;
  z-index: 0;
  padding: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  cursor: pointer;
  position: relative;
  border-radius: 100px;
}

/* line 20, ../../stylesheets/partials/_ausnet.sass */
.toggler:before {
  content: "";
  position: absolute;
  left: 2.5px;
  top: 2.5px;
  width: 95px;
  height: 45px;
  background: white;
  z-index: 1;
  border-radius: 100px;
}

/* line 31, ../../stylesheets/partials/_ausnet.sass */
.toggler:after {
  content: "";
  width: 44px;
  height: 44px;
  border-radius: 100px;
  z-index: 2;
  background-color: white;
  position: absolute;
  transition-duration: 500ms;
  top: 3px;
  left: 3px;
  box-shadow: 0 2px 5px #999999;
}

/* line 44, ../../stylesheets/partials/_ausnet.sass */
.togglerOn, .togglerOn:before {
  background-color: #4cd946 !important;
}

/* line 47, ../../stylesheets/partials/_ausnet.sass */
.togglerOn:after {
  left: 63.5px;
}

/* line 50, ../../stylesheets/partials/_ausnet.sass */
.hider-class {
  display: none;
}

/* line 52, ../../stylesheets/partials/_ausnet.sass */
.battery-toggler {
  display: flex;
  justify-content: space-between;
}

/* line 56, ../../stylesheets/partials/_ausnet.sass */
.battery-class {
  font-weight: 300;
  text-decoration: none;
}

/* line 59, ../../stylesheets/partials/_ausnet.sass */
.dc-yes {
  font-weight: 900;
  text-decoration: underline;
}

/* line 62, ../../stylesheets/partials/_ausnet.sass */
.ac {
  text-align: right;
}
